[2018-11-28 06:43] anithareddycog commented on #219
sujatha,

i followed the sharedmodule.zip. I see maven is installed, tried to do maven build but failed again. PF log.

[INFO] Scanning for projects...
[INFO] Starting Maven Build for BW6 Project.................................
[INFO] Checking for In-Project JAR dependencies if any and Pushing them to Local Maven Repository
[INFO] ------------------------------------------------------------------

[2018-11-28 06:46] SujataDarekar commented on #219
@anithareddycog Could you please test with Maven Plugin version 1.3.1

[2018-11-28 09:03] SujataDarekar commented on #219
@anithareddycog  Also could you please let us know which JRE version you are using? As per logs it seems like your server unable to connect to Maven repository at (https://repo.maven.apache.org/maven2
		 If you are using proxy and can access the link with browser the same settings need to be applied to Maven. For maven you need to add proxy details in settings.xml if you are using a proxy

[2018-11-29 04:04] anithareddycog commented on #219
With same versions,i manged to resolve the issue, now i see jar files.
but resources folder is missing.
Any hints please.

[2018-11-29 04:46] jnaik21987 commented on #207
Hi Sonal,

We did follow the similar steps , the only difference between our projects
is that the Plugin Shared Module that we are using have 3 extra jars
ie(com.tibco.security.tibcrypt_2.18.303.001.jar,
com.tibco.xml.cxf.common_1.3.400.001.jar, commons-lang-2.4.jar) as a part
of PluginDependency. Which we are adding in the Maven Dependency as
"system" provided and copying the same in the lib fold

[2018-11-30 11:11] mshahat commented on #4
/reopen

BWCE 2.4.1, maven plugin 2.0.2 ... the diagrams are not showing on BWCE Monitor.
The presumption is that maven plugin are used in all sites and for all practical reasons to produce EARs, so support for generating diagrams is needed please.
that could be a goal or a switch on an existing goal

Thanks,

[2018-11-30 11:16] mshahat opened #221 "BWCE Monitor 2.4.1 | Process diagrams are missing when built through CI pipeline"
- BWCE 2.4.1
- BWCE Monitor 2.4.1
- Maven plugin 2.0.2
- macOS, AKS and Docker for mac K8S

Process diagrams are missing when applications are built through a CI system utilising the mavin plugin.

The presumption is that maven plugin are used in all sites to produce EAR. so this is a request to have that support through the plugin, please. a new goal or a switch on an existing goal

Thanks,

[2018-11-30 18:23] mshahat commented on #111
Could not resolve dependencies for project PROJECT NAME Could not find artifact com.tibco.plugins:com.tibco.bw.palette.shared:jar:6.1.100 in central (https://repo.maven.apache.org/maven2)

[2018-11-30 19:00] mshahat commented on #221
thanks

[2018-11-30 19:00] #221 closed

[2018-12-03 01:13] mshahat opened #222 "gitignore file suggestions"
Hi,

for those modules using the the plugin, it would be useful to have suggestions with gitignore entries. to ignore things like target folder(s) ...etc.

Thanks,

[2018-12-03 10:49] Chetan-Vatharkar opened #223 "While doing maven build, getting following error: [ERROR] (use -source 7 or higher to enable multi-catch statement)"

[2018-12-03 17:09] nikhilhiremath commented on #216
has anybody came across this issue? Any leads?

[2018-12-04 08:21] SujataDarekar commented on #223
@Chetan-Vatharkar  Which java version you are using? Please upgrade your java version

[2018-12-04 09:56] Chetan-Vatharkar commented on #223
@SujataDarekar ..I am using openjdk version "1.8.0_191".

[2018-12-04 10:44] SujataDarekar commented on #223
@Chetan-Vatharkar The error which you mentioned is usually face when we are using Java version below java7.  Could you please provide the complete logs and more details  like which build you are executing,maven plugin version?

[2018-12-04 10:48] SujataDarekar commented on #219
@anithareddycog This can be checked by analyzing the logs. Please provide the same.

[2018-12-04 18:55] sanketakulkarni commented on #212
Thanks i will try this and will update you

[2018-12-05 05:41] jnaik21987 commented on #207
Hi Sonal,

Any update on this ?

On Thu, Nov 29, 2018 at 10:16 AM Jayesh Naik <naik.v.jayesh@gmail.com>
wrote:

[2018-12-05 06:11] ankitapandey1 commented on #214
Hi @ljferrero ,

Closing this issue, you can follow up for the studio fix internally.
I have created a JIRA issue for the same.

[2018-12-05 06:11] #214 closed

[2018-12-05 06:13] sonalshingavi commented on #207
Hi @jnaik21987
Could you please share your project to reproduce the issue?

[2018-12-05 06:15] #188 closed

[2018-12-05 06:21] sonalshingavi commented on #38
Fix by #220

[2018-12-05 06:21] #38 closed

[2018-12-05 09:53] Chetan-Vatharkar commented on #223
BW6 maven plugin-- 2.0.1
goal--> mvn clean package
LOGS:----------
ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.0:compile (default-compile) on project Akamai: Compilation failure: Compilation failure:
[ERROR] /D:/pri_data/riverbed/base_bw6/Akamai/main/Akamai/src/Processes/IntegrationInterfaces/Akamai/ORACLEAKAMAIIntegration/Services/ScheduleGetCustomerServiceSta

[2018-12-05 09:55] jnaik21987 commented on #207
Hi Sonal,

Due to compliance issues I am restricted to share the code outside
organization network.

Can we have a zoom call to discuss this ?

On Wed, Dec 5, 2018 at 11:43 AM Sonal Shingavi <notifications@github.com>
wrote:

[2018-12-05 10:47] Chetan-Vatharkar commented on #223
BW6 maven plugin-- 2.0.1
goal--> mvn clean package
LOGS:----------
ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.0:compile (default-compile) on project Akamai: Compilation failure: Compilation failure:
[ERROR] pathServices/ScheduleGetCustomerServiceStatus/ScheduleGetCustomerServiceStatusSendRequestToAkamai.java:[138,41] multi-catch statement is not supported in -

[2018-12-06 22:39] mshahat commented on #222
Thanks, @awagle .
apologies for vague request.

The suggestion is to document the build folders/files to ignore. those which are generated during the EAR and/or Docker image e.g. target folder.

In my case I needed gitignore. But if documentation is provided in the agnostic form, then plugin users could adapter to the RCS used.

Thanks,

[2018-12-07 12:12] awagle commented on #207
Unfortunately without a reproducible case we are not in a position to move forward. Can you create a sample project which demonstrates the issue or modify the one already attached by Sonal to help us simulate the issue?

[2018-12-11 06:59] NidhiRajeshDhoka commented on #142
This issue is arised because of jaxb framework(used for schema generation in BW java palette) which does not pick up the namespace URI for Maven project specific classes.So to fix this we need to configure jaxb overriden methods accordingly in BW palette code.Right now we do not have a immediate fix for this.We can have a JIRA  for this, which can be related by a JIRA already raised AMBW-27026.We

[2018-12-11 06:59] #142 closed

[2018-12-11 14:03] Saltarox opened #225 "Business Studio Not Responding"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE REQUEST
-->
Maven Plugin version: 2.0.2

Maven version: 3.5.4

Product : TIBCO ActiveMatrix Businessworks 6

Product version: 6.5.0 Hot

[2018-12-12 08:57] mshahat opened #226 "plugin v 2.1.0 does not have artefacts on maven central."
Hi,

Seems the plugin artefacts are not on maven central which is failing builds on build agents.
https://mvnrepository.com/artifact/com.tibco.plugins/bw6-maven-plugin

Thanks,

[2018-12-12 08:59] mshahat opened #227 "compatibility guide is not updated by v2.1 release"
Hi,

compatibility guide is not updated with v2.1 release info

Thanks,

[2018-12-12 09:04] mshahat opened #228 "maven central is missing dependencies"
Hi,

the install.sh installs some artefacts into the local maven repo. the expectation is to have the same dependencies on maven central so that "no install" builds would pull dependencies from maven central.

* is it possible to upload all dependencies to maven central ?
* is it possible to document the dependencies and their use, and whether they are required in all cases ?

e.g.

[code]

Thanks

[2018-12-12 09:11] SujataDarekar commented on #227
Updated the compatibility guide for V2.1.0

[2018-12-12 09:11] #227 closed

[2018-12-12 09:12] ashutoshbhide commented on #226
Hi @mshahat

I can see it on
https://repo.maven.apache.org/maven2/com/tibco/plugins/bw6-maven-plugin/

Not sure why it doesnt get reflected on

https://mvnrepository.com/artifact/com.tibco.plugins/bw6-maven-plugin

Ashutosh

[2018-12-12 09:13] mshahat commented on #226
thanks @ashutoshbhide ... this helps

[2018-12-12 09:13] #226 closed

[2018-12-12 09:13] mshahat commented on #227
thanks @SujataDarekar

[2018-12-13 18:31] SonaliDasgupta commented on #225
@Saltarox Could you please attach a project which reproduces this issue ?

[2018-12-14 07:21] alexandrev commented on #142
@IsabelLeon, have you or someone from your team opened the SR? In case you don't, just let me know it and I'll do it and we'll handle from there.

[2018-12-14 10:40] IsabelLeon commented on #142
I just opened the SR 01661850

[2018-12-14 10:45] Saltarox commented on #225
I've attached 2 files, a shared module and an application.
you can install the Shared Module with mvn install in your local repository and import it then in the Sample application. If you try to drag and drop the process inside the shared module in the canvas of the application Studio will freeze.

[Sample_App.zip](https://github.com/TIBCOSoftware/bw6-plugin-maven/files/2679738/Sample_App.zip)
[sa

[2018-12-14 13:51] alexandrev commented on #142
Thanks Isabel, I'll work with you and support to solve this issue asap.

[2018-12-17 05:21] jnaik21987 commented on #207
Hi Aditya and Sonal,

Is it possible for you to get the code from a case created earlier on TIBCO
Support site.

The Case Id is  :  01641299
The File Name is  : TibcoSupport.7z

Thanks.

On Fri, Dec 7, 2018 at 5:42 PM Aditya Wagle <notifications@github.com>
wrote:

[2018-12-17 07:21] SonaliDasgupta commented on #225
@Saltarox This issue occurs whenever a Tests folder is present inside the shared module which is imported as a maven dependency. I have created a JIRA for this issue which can be tracked at https://jira.tibco.com/browse/AMBW-34124 . In case the shared module you are importing does not require any tests, work-around for now would be not to create the Tests folder inside your shared module. In this

[2018-12-17 10:42] Saltarox commented on #225
![tibcobusinessstudio_oxirlt4wpa](https://user-images.githubusercontent.com/44054906/50082205-ad225d00-01f0-11e9-8bee-cd670e7dc1e5.png)
[Eclipse-Exception.txt](https://github.com/TIBCOSoftware/bw6-plugin-maven/files/2685576/Eclipse-Exception.txt)

@SonaliDasgupta
We added a Tests folder only to avoid the problem "Project is missing special folder" once the shared module is imported as a dependency

[2018-12-17 11:05] SonaliDasgupta commented on #225
@Saltarox Yes, this is the exact exception I too faced. I have reported an issue at https://jira.tibco.com/browse/AMBW-34124 . This requires a fix in the BW Studio code. Please track this issue via JIRA for updates.

[2018-12-17 22:53] alexandrev opened #230 "Error setting schema path in coertion when schema is inside Maven Shared Module Dependency"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

Maven Plugin version: 2.1.0

Maven version:3 .3.0

Product : TIBCO Businessworks Container edition

Product version: 2.4.2

Component: Maven Eclipse Plugin

**Steps to reproduce the issue:**
1. Create an application with a shared module get by your own m2 repository.
2. C

[2018-12-18 18:37] SonaliDasgupta commented on #230
@alexandrev You mentioned that if we use this schema as output for the mapper activity, this error does not occur. Please could you attach a reproducible use case for this , in which the input tab is visible?

[2018-12-18 21:35] alexandrev commented on #230
Hi @SonaliDasgupta , please find attach this new project code and you can check everything is working as expected at the Input tab for the Mapper activity.

[testApp_v2.zip](https://github.com/TIBCOSoftware/bw6-plugin-maven/files/2692369/testApp_v2.zip)

[2018-12-19 06:53] jnaik21987 commented on #207
Hi Aditya and Sonal,

Are you able to retrieve the code from the Case Id?

Thanks.

On Mon, Dec 17, 2018 at 10:51 AM Jayesh Naik <naik.v.jayesh@gmail.com>
wrote:

[2018-12-19 06:57] sonalshingavi commented on #207
Hi @jnaik21987
I am trying to reproduce this issue using reference case Id, Will back to you ones we have any update.

Thank you

[2018-12-20 07:03] jnaik21987 commented on #207
Hi Sonal,

Along with this issue can you please also check why in this project we are
unable to see the drop down as "AppSpace" while generating Pom for
application.
It just shows "None".

On Wed, Dec 19, 2018 at 12:27 PM Sonal Shingavi <notifications@github.com>
wrote:

[2018-12-20 07:09] sonalshingavi commented on #207
Hi @jnaik21987
This issue is already reported here  #217,
We are working on a solution.

[2018-12-20 13:24] lhollyer opened #231 "Project build error: Non-readable POM <path>/pom.xml: input contained no data"
Maven Plugin version:

Maven version: 2.0.0 and 2.1.0

Product : TIBCO BW6.5.0

Component: Maven build plugin

**Steps to reproduce the issue:**
1. Installed BW6 plugin into BW6.5.0
2. Created a new Application and Application Module
3. Generate POM for Application (thus generating POM for Application Module)

**Describe the results you received:**
Application POM generates OK but the Application

[2018-12-20 14:33] alexandrev commented on #231
Hi @lhollyer , could you paste the content of the pom.xml file?

[2018-12-20 14:37] alexandrev commented on #228
Hi @mshahat , but those are the plugin itself. And that dependencies are distributed in the binary file. To do that, the option should be to upload the whole plugin to maven central like any other plugin in maven that is public.

[2018-12-20 15:19] lhollyer commented on #231
Hi @alexandrev - pom.xml with the error is empty. Application pom.xml is as follows:

<img width="1057" alt="screenshot 2018-12-20 at 15 16 59" src="https://user-images.githubusercontent.com/32904354/50292938-588a1680-046a-11e9-99bc-7981739db746.png">

`<?xml version="1.0" encoding="UTF-8"?>
<project xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd"

[2018-12-21 08:53] SujataDarekar commented on #223
@Chetan-Vatharkar  For which  scenario you are facing this issue? Are you using custom path function having dependency on external JARs or do you have any external JAR dependency in your project?

[2018-12-21 23:41] mshahat commented on #228
why not? The goal is to be able to build using hosted, ephemeral build and release agents. Without those auto-resolving from maven central, you have to prepare a build agent with a pre-installed plugin ( basically bootstrapping the .m2 maven local home )

the team has already published the first one here https://repo.maven.apache.org/maven2/com/tibco/plugins/bw6-maven-plugin/2.1.0/ , we either nee

[2018-12-24 05:01] ankitapandey1 commented on #231
Hi @lhollyer
I am not able to replicate this issue I tried with TIBCO BW6.5.0 and Maven version 2.1.0.
As you mentioned this issue happens only occasionally I think it could be synchronization issue  , So when you face this issue again just clean the project and check.
If the issue persist let me know.

[2018-12-24 14:11] SujataDarekar commented on #207
@jnaik21987
Could you please follow the steps given below to add dependency of JARs(com.tibco.security.tibcrypt_2.18.303.001.jar, commons-lang-2.4.jar) into customXpath function where the JARs are present in tibco home directory:
1. Open command prompt from the JAR file path where your JARS are present
2. Intall the JAR into .m2 repository using command
"mvn install:install-file -Dfile=file-name -

[2018-12-29 02:57] thiyagu19841 commented on #176
The issue is that CustomXpath plugin project has dependency on below jar in POM.xml; though our internal maven repo has all the plugin jars,  below jar is not getting added while building jar for this CustomXpath plugin project via tibco mvn plugin; hence it is causing null pointer exception while building ear for application module which has dependency on this CustomXpath plugin project..  In ord

[2018-12-29 02:59] thiyagu19841 commented on #176
The issue is that CustomXpath plugin project has dependency on below jar in POM.xml; though our internal maven repo has all the plugin jars,  below jar is not getting added while building jar for this CustomXpath plugin project via tibco mvn plugin; hence it is causing null pointer exception while building ear for application module which has dependency on this CustomXpath plugin project..  In ord

[2019-01-02 06:57] SujataDarekar commented on #176
@thiyagu19841  Basically Maven search for dependency either in local .m2 repository or maven central repository but if the dependency JARS are present in your internal maven repo then we need to add these internal repository in pom.xml under repositories section. So that maven plugin will search for dependency in your internal repo as well.

[2019-01-02 13:50] thiyagu19841 commented on #176
@SujataDarekar Yes.. That's correct..  Though I mentioned our internal repo in pom.xml and dependent jars are available in our internal repo, tibco maven plugin is not able to build custom xpath jar with this dependent jar.

[2019-01-04 07:11] BhosaleSaurabh opened #232 "POM Generated shows error as 'Project Build Error: Non Readable Pom' in App Module."
Maven Plugin version: 2.1.0

Maven version:

Product : Either of TIBCO ActiveMatrix Businessworks 6 OR TIBCO Businessworks Container edition

Product version: BW6.5.1

Component: Maven build plugin

**Steps to reproduce the issue:**
1. Import Existing older project in 651 workspace. For older project the manifest file doesn't contain TIBCO-BW-Edition watermark.
2. Generate POM for the application

[2019-01-07 20:56] Work1SaurGitHub opened #233 "Question: Is there a way to generate the Pom from the command line only and avoid using Designer?"
Maven Plugin version: 1.3.1

Maven version:3.3.9

Product : Either of TIBCO ActiveMatrix Businessworks

Product version:6.4.2

Component: Either of Maven Eclipse Plugin or Maven build plugin

We would like to do continuous integration. We are concerned about these use cases:
1) a developer adds a shared dependency to an application
2) creates a new application

Now one way to resolve this would be

[2019-01-08 10:54] SujataDarekar commented on #176
@thiyagu19841  Could you please share you project?

[2019-01-09 05:51] sonalshingavi commented on #193
Closing the issue, Please reopen in case you have any query.

[2019-01-09 05:51] #193 closed

[2019-01-09 06:21] ankitapandey1 commented on #144
Hi @johanvergeer ,

I have created JIRA for this issue here is the id: AMBW-34301 .
closing this issue.

Thanks!!

[2019-01-09 06:21] #144 closed

[2019-01-09 06:27] #231 closed, assigned to ankitapandey1

[2019-01-09 06:47] SonaliDasgupta commented on #225
Closing this issue since the fix is in BW code. Please track the issue at https://jira.tibco.com/browse/AMBW-34124 .

[2019-01-09 06:47] #225 closed

[2019-01-09 09:36] jcranfie commented on #208
Hi @ankitapandey1 ,

We solved the issue in the end. The problem was that the Java code with the "@ModuleProperties" in it was in a shared module. When you generate a POM for the the main application, the POM for the shared module is missed a dependency. If you add:

    <dependency>
      <groupId>com.tibco.plugins</groupId>
      <artifactId>com.tibco.bw.palette.shared</artifactId>
      <versio

[2019-01-09 10:43] ankitapandey1 opened #234 "External Shared Module not imported in Studio after searching the available ESM using Group ID in Dependency section of the POM.xml file 4 of 5 Return to search"
Maven Plugin version: 2.0.1

Product : Either of TIBCO ActiveMatrix Businessworks 6 OR TIBCO Businessworks Container edition

Product version:6.4.2

Component: Either of Maven Eclipse Plugin or Maven build plugin

**Steps to reproduce the issue:**
When we search the available External Shared Module in the Maven Repository by providing the Group ID in the text field and select the External Shared M

[2019-01-09 11:20] SujataDarekar commented on #176
@thiyagu19841
I have tried to reproduce the issue by following Steps:
Scenario 1:
1. Created internal maven repository and installed the customXpath Jar on my maven internal repository.
2. Added the credential details of internal repository in maven setting file.
3. In my BW project, I have added the customXpath jar dependacy through POM file by giving the groupId, ArtifactID,Version
4. Also in th

[2019-01-09 11:23] BhosaleSaurabh opened #235 "Providing Invalid Tibco Home location during installation, the cmd window is closed directly."
Maven Plugin version: 2.1.0

Maven version:

Product : Either of TIBCO ActiveMatrix Businessworks 6 OR TIBCO Businessworks Container edition

Product version:BW6.5.1

Component: Either of Maven Eclipse Plugin or Maven build plugin

**Steps to reproduce the issue:**
1. Run Install.bat file in the installer package.
2.Provide invalid Tibco Home path.
3.Check the window. It is closed directly. User i

[2019-01-09 13:02] thiyagu19841 commented on #176
Hi,

Do you see com.tibco.xml.cxf.common.jar is available in lib folder from customXpath.jar.. Can you please share CustomXpath.jar.

Thanks and regards,
Thiyagarajan K.

[2019-01-10 05:31] SujataDarekar commented on #176
Hi @thiyagu19841
com.tibco.xml.cxf.common.jar does not  get included in lib folder because in maven plugin we have validation to not include JAR com.tibco.xml.cxf.common.jar in lib folder.
The reason is that these JAR is required only at compile time and at runtime this will be provided by Tibco environment.

[2019-01-10 09:16] ankitapandey1 commented on #208
Thanks @jcranfie !!!

Since the issue is resolved I am closing it.

[2019-01-10 09:16] #208 closed

[2019-01-10 09:20] SujataDarekar commented on #219
@anithareddycog Any update on this?

[2019-01-10 09:34] SujataDarekar commented on #223
@Chetan-Vatharkar Any update on previous comment?

[2019-01-11 08:57] Chetan-Vatharkar opened #236 "Maven goal timing out."
How can we increase the timeout value of a maven goal?

[2019-01-14 06:20] SujataDarekar commented on #235
@BhosaleSaurabh If you run the  install.bat on command prompt with invalid Tibco home, It is showing the proper error message. PFA screenshot for more details.
![maveninstall](https://user-images.githubusercontent.com/31987978/51098764-97ee1d80-17f2-11e9-9811-159e2d90dd60.jpg)

[2019-01-14 06:20] #235 closed

[2019-01-14 13:42] SonaliDasgupta commented on #230
Closing the issue since it has been solved in BW code. Please refer to https://jira.tibco.com/browse/AMBW-34159 .

[2019-01-14 13:42] #230 closed

[2019-01-16 05:55] SujataDarekar commented on #233
@Work1SaurGitHub  We don't generate the POM file from command line. We are using the GUI to generate the POM and this can be done via studio only.

[2019-01-16 15:35] Work1SaurGitHub commented on #233
SujataDarekar - Is there any prospect of that changing in a future version? Typically our developers do not use Maven in their daily work and we would not like to add the extra burden of forcing them to generate a POM (and possible having to regenerate one if shared dependencies change). If there was a way that the poms could be generated from the command line - than we could  have automated deplo

[2019-01-18 08:29] gdrkn123 opened #239 "Tibco BW unit test automation- introduce delay between service startup and trigger test case"
Maven Plugin version:

Maven version:

Product : Either of TIBCO ActiveMatrix Businessworks 6 OR TIBCO Businessworks Container edition

Product version:

Component: Either of Maven Eclipse Plugin or Maven build plugin

**Steps to reproduce the issue:**
1. We are setting up unit test automation using bw6 maven- soap ui plugin . As given in pom.xml the once the build is ready , it is installing the

[2019-01-23 03:43] SujataDarekar commented on #223
Closing the issue as there is no response from last one month. Please reopen in case you face the issue again

[2019-01-23 03:43] #223 closed

[2019-01-23 03:52] SujataDarekar commented on #219
Closing the issue since there is no response from the last 2 months. Also, the issue with Missing JARS has been resolved.

[2019-01-23 03:52] #219 closed

[2019-01-23 03:55] SujataDarekar commented on #176
@thiyagu19841 Please let me know if you have any another issue or any concerns.

[2019-01-23 05:58] SujataDarekar commented on #212
As per the previous comment, the issue is related configuration So we are closing the issue

[2019-01-23 05:58] #212 closed

[2019-01-23 06:04] SujataDarekar commented on #76
@mshahat
With Plugin 2.1.0 the first two points get fixed. So now 2.1.0 is available on the central repository and POM generated with the proper version 2.1.0. For the third point, we have an issue https://github.com/TIBCOSoftware/bw6-plugin-maven/issues/228. So closing this issue

[2019-01-23 06:04] #76 closed

[2019-01-23 06:15] NidhiRajeshDhoka commented on #215
@vtaront are you working on this?or shall we do it from our side?

[2019-01-23 06:20] sonalshingavi commented on #218
Closing this issue, fixed by pull request #240.

[2019-01-23 06:20] #218 closed

[2019-01-23 06:58] SujataDarekar commented on #234
Issue fixed with pull request https://github.com/TIBCOSoftware/bw6-plugin-maven/pull/238

[2019-01-23 06:58] #234 closed

[2019-01-24 05:08] SujataDarekar commented on #176
As discussed If Custom-XPath Plugin having a dependency on JARS present at Tibco-home then we are providing resolution to add those dependencies as a "System" scope and provide dependencies path in the System path in the future release. Also, the scenario that Maven Plugin unable to download dependency from the maven internal repository is not able to reproduce. In fact, Maven Plugin downloads the

[2019-01-24 05:08] #176 closed

[2019-01-28 10:34] NidhiRajeshDhoka commented on #236
@Chetan-Vatharkar Currently,we don't support goal timeout configuration.What is the exact requirement and use-case for this?

[2019-01-30 04:52] sonalshingavi commented on #217
Closing this issue, fixed by pull request #242.

[2019-01-30 04:52] #217 closed

[2019-01-30 04:53] sonalshingavi commented on #232
Closing this issue, fixed by pull request #242.

[2019-01-30 04:53] #232 closed

[2019-02-01 09:38] vtaront commented on #215
Hello, I haven't worked on it yet.

[2019-02-03 14:34] exceed007 opened #245 "Issue - BW 6.5 maven plugin installation failed"
### BW version 6.5 , apache-maven version - 3.6.0 , BW maven plugin version - 2.1.0

 **Build is failing due to unknown errors. Thanks in advance.**

[2019-02-04 14:43] AndreAfonso87 opened #246 "Not all Shared modules are imported to Studio"
Maven Plugin version:2.1.0

Maven version:3.6.0

Product :TIBCO Businessworks Container edition

Product version:2.4.2

Component: Maven Eclipse Plugin

**Steps to reproduce the issue:**
1.Shared module A with maven dependency on 2 other Shared modules B & C. Shared module A is built and installed in local repository.
2.Application module with maven dependency on the previous shared module A.

**D

[2019-02-05 04:39] SujataDarekar commented on #246
@AndreAfonso87 Could you please attach the project?

[2019-02-05 04:57] SujataDarekar commented on #245
@exceed007 Could you please check directory "C:\Program Files\tibco\bw6\bw\6.5\maven\plugins"  is already created?

[2019-02-05 12:56] alexandrev opened #247 "Question: Install Share Module in Maven Repository as Binary"
Is it possible to install shared module in maven repository as binary? I've read wiki about Shared Moudle support but the steps there are to push a "normal" shared module to the repository but not as binary, so all the process are in text and could be viewed.

Can this be done with configuration in pom file?

Regards,

[2019-02-05 12:57] alexandrev commented on #247
it's question but I couldn't apply labels to the issue. Sorry.

[2019-02-06 11:42] ashish22795 commented on #231
Hi,

Facing the same issue.
Any suggestion would be helpful.

Thanks and Regards,
Ashish

[2019-02-06 19:27] AndreAfonso87 opened #248 "NullPointerException creating EAR on module with maven dependency"
Maven Plugin version:2.1.0

Maven version:3.6.0

Product : TIBCO Businessworks Container edition

Product version:2.4.2

Component: Maven build plugin

**Steps to reproduce the issue:**
To mimic and scaledown a more complex app, i tested with a dummy app:
1.Created tst application
2.Created shrtst shared module
3.Clicked to generate pom on tst.application
4.Ran mvn clean package on parent pom-> Su

[2019-02-07 06:08] SujataDarekar commented on #231
@ashish22795 As discussed on call POM file getting generated successfully by switching the workspace

[2019-02-08 16:50] AndreAfonso87 commented on #248
UPDATE: It seems this nullpointerexception error is only thrown when trying to add org.apache.jcs jar. If i add another dependency like org.slf4j, this gets added successfully to the bwmodule.
Maybe its because org.apache,jcs has other dependencies and the plugin is not able to iterate them or any?

[2019-02-10 13:07] smwatage commented on #162
Hi Sonal.

I am using TIBCO BWCE 2.4.0
installed BW MAven plugin 1.3.1

I can see generate pom option. but on click window is not opening. Logs in .matainf and log file below

!ENTRY org.eclipse.ui 4 0 2019-02-10 18:21:17.843
!MESSAGE Unhandled event loop exception
!STACK 0
java.lang.NoClassDefFoundError: com/tibco/zion/project/core/ContainerPreferenceProject
	at com.tibco.bw.studio.maven.wizard.M

[2019-02-10 17:00] loreCande81 commented on #162
It is already fixed. Thanks Inviato dal mio dispositivo mobile Huawei-------- Messaggio originale --------Oggetto: Re: [TIBCOSoftware/bw6-plugin-maven] POM Generation UI doesn't open (#162)Da: smwatage A: TIBCOSoftware/bw6-plugin-maven CC: loreCande81 ,Mention
Hi @loreCande81
Can you please share me the log file present in your workspace on path: workspace - .metadata - log.txt file.
Thank you.

H

[2019-02-11 13:38] alexandrev commented on #247
@SujataDarekar but does this pom have something special from the one that is shared module (without binary?) It should be the same since this must be done before "Exporting as Binary".. so, it means there are no way to store it in the .m2 as binary, only as a normal shared module. Could you confirm?

Thanks,

[2019-02-12 16:15] emcap opened #249 "No "Generate POM for Application" in studio project context menu"
I've seemingly successfully installed TIB_BW_Maven_Plugin_2.1.0.
However, after:
a. Opening the Studio, with a project.
b. Right-Clicking on the Application project.
c. The Context Menu will not show the option "Generate POM for Application".

After running the install.bat that came with Maven Plugin, it reported "BUILD SUCCESSFUL" even though the output showed some failures. The output is pasted

[2019-02-12 23:00] emcap commented on #249
After upgrading to Plugin version 2.1.1 I'm able to "Generate POM for Application"

[2019-02-12 23:00] #249 closed

[2019-02-14 05:38] rubirada commented on #233
@Work1SaurGitHub Currently our plugin has the provision of generating POM through UI only. It is not feasible to provide an option for generating POM through the Command line. So you may not expect this in future releases also.

[2019-02-14 11:33] emcap opened #250 "MessageBodyReader not found for media type=text/html when "Run As>Maven install""
Maven Plugin version:  2.1.1

Maven version: 3.6.0

Product : TIBCO ActiveMatrix Businessworks 6

Product version: 6.5

Component: Either of Maven Eclipse Plugin or Maven build plugin

**Steps to reproduce the issue:**
1. Import tibco.bw.sample.binding.rest.Basic sample project to studio, having previously installed Maving Plugin version 2.1.1
2. Right click on "tibco.bw.sample.binding.rest.Basic.

[2019-02-14 12:06] emcap commented on #188
I'm using version 2.1.1 of the plugin.
How do I make use of this new feature, how do I set install only goal with specific configuration?

[2019-02-14 12:56] emcap commented on #250
The Agent Port was incorrectly configured. Once the configuration was corrected, the goal was successfully executed, thought the error message could have been more helpful.

[2019-02-14 12:56] #250 closed

[2019-02-19 17:05] alexandrev commented on #231
It seems that disabling maven nature and re-enable it in the module that has the issue. make the issue gone. But this should be solved at the plugin level. So please, we should reopen this issue.

[2019-02-20 06:03] NidhiRajeshDhoka commented on #236
@Chetan-Vatharkar  Any updates on this?

[2019-02-20 06:07] ankitapandey1 commented on #231
Hi @ashish22795

This issue is fixed in Maven version: 2.1.1 please try installing latest maven version and check.

Thanks!!

[2019-02-20 06:14] NidhiRajeshDhoka commented on #215
@vtaront do you want to do it by yourself or do you want us to fix it?

[2019-02-21 09:36] tirukommi commented on #184
Hi SujataDarekar,

Request you to please provide a solution here for the above issue as I am facing the same in BW6.5 and maven 2.1.

Thanks ahead !!
----
Tiru

[2019-02-25 05:33] ashish22795 commented on #231
Hi @ankitapandey1 ,

Thanks a lot!
I'll check with the latest Maven verison.

Regards,
Ashish

[2019-02-26 16:56] jwerginz opened #251 "Question: Using mvn test simulating in eclipse"
I am interested in using the unit testing part of the plugin outside of maven.  when I run mvn test from command line it works.  When I try and duplicate what it is trying to do in eclipse I get an error:

[info] line 14:08:45,853 |-INFO in ch.qos.logback.classic.joran.JoranConfigurator@76c52298 - Registering current configuration as safe fallback point
[info] line
...[info] line 14:08:50.885 INFO

[2019-02-26 19:22] jwerginz commented on #251
Ok Im further along.  Now it just hangs - I got rid of the error:
...[info] line 14:11:43.050 INFO  [main] com.tibco.thor.frwk - TIBCO ActiveMatrix BusinessWorks version 6.5.0, build V63, 2018-08-08
.............[info] line 14:12:02.733 INFO  [main] com.tibco.bw.frwk.engine.BWEngine - TIBCO-BW-FRWK-300002: BW Engine [Main] started successfully.
[info] line 14:12:02.756 INFO  [main] com.tibco.thor.

[2019-02-26 23:11] jwerginz commented on #251
Past other issues now have issue here:
BWTestRunner init():
this.r = this.jerseyClient.target(UriBuilder.fromPath(CONTEXT_ROOT).scheme(this.scheme).host(this.host).port(this.port).build());

[info] Begin BWTestRunner2 init()
[info] jerseyClient.getConfiguration()  org.glassfish.jersey.client.ClientConfig@ffbb496b
[info] this.jerseyClient  org.glassfish.jersey.client.JerseyClient@19dc67c2
[info] CO

[2019-02-26 23:27] richardelowe opened #252 "Unit Tests hang when running BW 6.5.0 with HF4"
Maven Plugin version: 2.1.1

Maven version: 3.5.3

Product : TIBCO ActiveMatrix Businessworks 6

Product version: 6.5.0 HF4

Component: Either of Maven Eclipse Plugin and Maven build plugin

**Steps to reproduce the issue:**
1. Install BW 6.5 and HF4
2. Create unit tests
3. Run the unit from within Studio or from Maven command line using the following goals:
clean initialize site package

**Additi

[2019-02-26 23:56] jwerginz commented on #251
I got it working - results are similar in eclipse as they are with mvn test.  Had to add a bunch of jars for the runtime execution that were already in .m2.

[2019-02-26 23:56] #251 closed

[2019-02-27 16:57] vtaront commented on #215
Hello,

What you can do is to update com.tibco.bw.maven.plugin.admin.client.RemoteDeployer.java:

1) Add an attribute:
`private final int timeout;`

2) Add, at the end of init() method:
`if (this.timeout > 0) {`
`   log.debug("Setting timeout to: " + this.timeout + " seconds");`
`   this.jerseyClient.property(ClientProperties.CONNECT_TIMEOUT, this.timeout * 1000); // Connect timeout interval, in m

[2019-02-28 06:32] NidhiRajeshDhoka commented on #252
We tried on 6.5.0 HF-04 and HF-06 on windows platform with different machines and we were not able to reproduce it.

[2019-03-01 10:13] BhosaleSaurabh opened #253 "Building Workspace error popup thrown when we try to import Shared Module using POM.xml file"
Maven Plugin version: 2.1.1

Maven version:

Product : Either of TIBCO ActiveMatrix Businessworks 6 OR TIBCO Businessworks Container edition

Product version:BW6.5.2 V3

Component: Either of Maven Eclipse Plugin or Maven build plugin

**Steps to reproduce the issue:**
1. Import the attached project and Export the shared module in m2 repo.
2. Try importing the shared module present in the m2 repo u

[2019-03-03 08:48] alexandrev opened #254 "Parent Project links in the test reports, e.g. from index.html don’t work"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE REQUEST
-->
Maven Plugin version: 2.1.1

Maven version: 3.5.2

Product : Either of TIBCO ActiveMatrix Businessworks 6

Product version:

[2019-03-03 08:49] alexandrev opened #255 "Enhacement JUnit Support"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE REQUEST
-->
Maven Plugin version: 2.1.1

Maven version: 3.5.2

Product : TIBCO ActiveMatrix Businessworks

Product version: 6.5.0

Comp

[2019-03-04 06:13] sonalshingavi commented on #216
Hi @nikhilhiremath
I have tried many times to reproduce the issue but not able to reproduce it and nobody came across this issue. I think there might be some issue with installer home. Please check the TIBCO ActiveMatrix BusinessWorks is properly install in your machine.
Please try with latest Maven Plugin version: 2.1.1

[2019-03-04 06:56] nikhilhiremath commented on #216
This issue has been resolved by reinstalling the tibco bw 6.4.2 and maven
plug-in. Thank you for checking on this issue.

On Mon, Mar 4, 2019, 11:43 AM Sonal Shingavi <notifications@github.com>
wrote:

[2019-03-04 07:05] sonalshingavi commented on #216
Closing the issue.

[2019-03-04 07:05] #216 closed

[2019-03-04 09:08] alexandrev opened #256 "Enhacement: validation of maven properties bwHome and tibcoHome"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE REQUEST
-->
Maven Plugin version: 2.1.1

Maven version: 3.5.3

Product : Either of TIBCO ActiveMatrix Businessworks 6

Product version:

[2019-03-04 10:32] ashutoshbhide commented on #255
@alexandrev

After running the maven test goal the the response from the BWEngine is stored in file bwtestreport.xml at location
<Workspace>/<Application Project>/target/bwtest/bwtestreport.xml
The Site report HTML page is generated from this xml file.

You can take a look at this file to see if you have the required data for exporting to SonarCube.

If you look at the class /bw6-maven-plugin/src/

[2019-03-04 12:25] alexandrev commented on #255
Hi Ashutosh,

What I'd like to do to be able to have the info imported in sonarqube, is
to be abel to export the data in the Surefire format. Please take a look at
the format, but this is quite common in java+ maven world.

https://maven.apache.org/surefire/maven-surefire-plugin/

https://docs.sonarqube.org/display/PLUG/Java+Unit+Tests+and+Coverage+Results+Import

Taking a look at the schema:
http

[2019-03-04 14:40] ashutoshbhide commented on #255
@alexandrev

We have similar though not exact structure.
Surefire report mainly deals with Java classes while we deal with Processes so we had to modify the objects accordingly.

To generate with the Surefire test report schema, you will have to first see what is one-2-one mapping of Java Class vs the BW Process and then decide what values to populate there.

So basically you will have to construc

[2019-03-11 12:04] alexandrev commented on #256
Also when this happen no error is shown in Studio console, so this could be another improvement, try to redirect standard error to the console so at least if something is not able to launch the java command you get noticed.

[2019-03-18 10:45] sonalshingavi opened #257 "Support artifactory url for EAR location with bwdeployer goal"
In EAR deployment with the config file, while executing bwdeployer  goal
**mvn com.tibco.plugins:bw6-maven-plugin:bwdeployer -DearLocation="\EAR" -DdeploymentConfigfile="\EAR\configFile.txt"**

-DearLocation should support the artifactory URL.

[2019-03-19 21:12] jwerginz opened #258 "Runnable getInputRunnable java code UNIT TESTING"
I turned on debugging here:
while((line = br.readLine()) != null) {

			        	**System.out.println( " getInputRunnable line "+line);**
			        	if( line.contains( "Started BW Application") )
						{
							latch.countDown();
						}

			            sb.append( line );
			        }
[test.txt](https://github.com/TIBCOSoftware/bw6-plugin-maven/files/2985581/test.txt)
Getting all kinds of weird e

[2019-03-20 17:39] jwerginz commented on #258
Does anyone how those resource files were generated?

[2019-03-26 12:39] kwoodie opened #259 "Dependent plugin not included in generated EAR - Data Conversion Plugin"
Maven Plugin version: 2.1.0

Maven version: 3.3.9

Product : Either of TIBCO ActiveMatrix Businessworks 6
Product version:  6.4.2 - Hotfix 7

Component: Maven build plugin

**Steps to reproduce the issue:**
1. Create a project that is maven enabled
2. Add an activity that leverages the TIBCO Data Conversion Plugin
3. Run the "package" goal to build the ear file or run an "install" to attempt to in

[2019-03-27 05:12] SujataDarekar commented on #259
@kwoodie Please share the project as well.

[2019-03-27 05:19] SujataDarekar commented on #233
closing the issue based on the above comment

[2019-03-27 05:19] #233 closed

[2019-03-27 06:09] SujataDarekar commented on #236
Closing the issue since there is no response from long time

[2019-03-27 06:09] #236 closed

[2019-03-27 12:23] rubirada commented on #259
@kwoodie We have verified the Data Conversion project with Maven 2.1.0. and successfully generated EAR using maven package goal. Attaching the sample project.
[V9.zip](https://github.com/TIBCOSoftware/bw6-plugin-maven/files/3013062/V9.zip)

[2019-03-27 20:42] kwoodie commented on #259
The project is sensitive private information, therefore I cannot share that on GitHub.  I will take the sample project and see if I can reproduce.

[2019-03-27 20:43] kwoodie commented on #259
If I wanted to share the plugin, is there a secure way through TIBCO Support?  I work for a current customer of TIBCO.

[2019-03-27 20:48] HiteshNembhwani commented on #259
sure @kwoodie, that works if you have a TIBCO Support account. We'd still request to give it a try with a sample project and if that doesn't work, we can try with your as-is project via Support. Please mention on the SR (Support Request) the Maven issue number and it is only created to share the project with Maven Engg team, thanks.

[2019-03-28 16:07] manireddyarimanda commented on #206
Plugin com.Fortify.sca.plugins.fortify.maven:sca-maven-plugin:18.02 or one of its dependencies could not be resolved: Failed to read artifact descriptor for com.Fortify.sca.plugins.fortify.maven:sca-maven-plugin:jar:18.02: Could not transfer artifact com.Fortify.sca.plugins.fortify.maven:sca-maven-plugin:pom:18.02 from/to central (https://repo.maven.apache.org/maven2): repo.maven.apache.org: Tempo

[2019-03-28 16:09] manireddyarimanda commented on #206
And I used command called mvn clean Install for installation, according to your message I observed that there is no particular plugin 1.22

[2019-03-29 17:14] kwoodie commented on #259
Not sure what the issue was.  I cleaned things up a bit with mappings and re-generated.  things worked fine with my project after that.  Thanks for taking a look.

[2019-03-29 17:14] #259 closed

[2019-03-29 22:37] HiteshNembhwani opened #260 "POM files do not get updated with application/module/parent renames"
Maven Plugin version:

Maven version:

Product : Either of TIBCO ActiveMatrix Businessworks 6 OR TIBCO Businessworks Container edition

Product version:

Component: Either of Maven Eclipse Plugin or Maven build plugin

**Steps to reproduce the issue:**
1.
2.
3.

**Additional environment details if any:**

**Describe the results you received:**

**Describe the results you expected:**

**Additional

[2019-04-02 08:09] exceed007 commented on #245
@SujataDarekar Any updates on this ?

[2019-04-02 09:10] SujataDarekar commented on #245
@exceed007 as per the logs I can see that error is coming while creating directory "C:\Program Files\tibco\bw6\bw\6.5\maven\plugins". The reason could be the permission problem. Please check for the same.

[2019-04-02 09:39] sonalshingavi commented on #260
Hi @HiteshNembhwani

**Regenerating POM file** is the only way to update the application/module/parent if we rename the application/module/parent.

In this scenario
1)I have created a new BusinessWorks Application Module called demo.
2) Generate the pom file for the same.
3) Rename the demo Module to demo1.
4) Delete the old demo.application.
5) Generate the application from the demo1 module.
6) R

[2019-04-02 10:53] exceed007 commented on #245
i created new tibco home and now it is working. thanks.

[2019-04-02 10:53] #245 closed

[2019-04-03 23:24] kkane-tibco opened #261 "NullPointerException in BWTestMojo.java if skipTests property not set"
The BWTestMojo class has an invalid test for a property, which produces an NPE if the property is not set. The problem is the method isSkipTests assumes the property exists in the pom.xml file for the application.

Here's the code, with the suggested fix in a comment:

// should be if( "true".equals(...)

Maven Plugin version: 2.1.1
Maven version: 3.3.9 (or thereabouts)
Product : BW6
Product versi

[2019-04-05 04:54] SujataDarekar commented on #261
@kkane-tibco when the property is not set,  It will not throw the NPE because It will consider it's  default value but when we remove the property "skipTests" from the POM file it will throw NPE which we will fix.

[2019-04-05 12:09] kwoodie commented on #259
I found the root cause of this issue.  It appears that for some reason that Copybook generated schemas get added to the .gitignore file and are not checked into my git repo.  Locally maven builds work fine, however remote Jenkins builds fail with the missing Schema error that I created this issue about.  I corrected the .gitignore configuration and all was well on the Jenkins server when the build

[2019-04-05 12:13] kwoodie opened #262 "Add swagger HTTP port as property for Maven [enhancement]"
We have been using the maven plugin to deploy to our BW6 standard environment (not containers).  We have many application nodes running on the same hosts and the default port of the Swagger-ui is causing us to have contention on ports.   Currently we will deploy via the Maven plugin and it will create an appnode with the 7777 port selected (BW default) for the swagger port.  I would like to have t

[2019-04-05 13:41] mshahat opened #263 "Missing ActivityId caused by recent versions of the plugin"
Hi,
this issue is experienced on multiple BWCE versions 2.4.3 and 2.4.2 on both macOS and Windows 10. it was possible to isolate the problem on multiple environments and is not experienced on environments without the plugin.

the issue is as shown in the screenshot.

Thanks,

![Screenshot 2019-01-30 at 14 27 01](https://user-images.githubusercontent.com/8035442/55631804-c99ed100-57b0-11e9-8793-18d

[2019-04-05 14:04] skumar-tibco commented on #263
@mshahat  Thanks for the feedback.  The issue has been reproduced and we are working to address the same.

[2019-04-08 12:07] amitmohanty88 opened #264 "pom.xml is getting generated with Errors"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE REQUEST
-->
Maven Plugin version:TIB_BW_Maven_Plugin_2.1.1

Maven version:apache-maven-3.5.3

Product : Either of TIBCO ActiveMatrix Bu

[2019-04-12 10:40] khmoez07 commented on #188
Hey Sujata Darekar,
![Plugin maven](https://user-images.githubusercontent.com/34886073/56031522-112cdc00-5d20-11e9-8d2d-acd5362e8bb2.jpg)

the variables ear location and ear name (earLoc, earName) are not taken into account in the pom.xml. Thank you in advance for your answer.

Best regards
KHALED Moez

[2019-04-12 10:49] SujataDarekar commented on #188
@khmoez07 those variables are used to deploy the EAR which is not part of the POM file.

[2019-04-12 10:51] SujataDarekar commented on #188
Please refer wiki page "https://github.com/TIBCOSoftware/bw6-plugin-maven/wiki/EAR-Deployment"

[2019-04-12 12:34] khmoez07 commented on #188
@SujataDarekar
 thanks i will test it and i will let you know.

Best regards
KHALED Moez

[2019-04-12 15:48] khmoez07 commented on #188
@SujataDarekar ,

It work thanks you very much .

Best regards
KHALED Moez

[2019-04-12 15:58] khmoez07 commented on #201
Hi @NidhiRajeshDhoka ,

i can see the profile in the same directory of "ear" but it's not the current profile in tea admin it's the default profile in the ear.

scenario:

1-Deploy ear in tea admin
2-stop ear
3-modify some parameters online
4-restart ear

after taht  i redeploy a new version in tea admin

Verification of default.substvar in backup location, this last not includ the current paramet

[2019-04-14 11:51] saravanaprasaths commented on #184
Hi All,

I am using BWCE 2.3.4 and using Maven plugin 1.3.1. Still getting the below error:

Error: Missing artifact com.tibco.plugins:com.tibco.bw.palette.shared:jar:6.1.100	pom.xml	/HelloWorld.module	line 14	Maven Dependency Problem

I can find the jar file in the below directory:
TIBCO_HOME\bwce\2.3\maven\plugins\bw6-maven-plugin\com.tibco.bw.palette.shared_6.1.100.003.jar

Please help how to r

[2019-04-14 11:53] saravanaprasaths opened #265 "Missing artifact com.tibco.plugins:com.tibco.bw.palette.shared:jar:6.1.100 --- Maven 1.3.1"
Hi All,

I am using BWCE 2.3.4 and using Maven plugin 1.3.1. Still getting the below error:

Error: Missing artifact com.tibco.plugins:com.tibco.bw.palette.shared:jar:6.1.100	pom.xml	/HelloWorld.module	line 14	Maven Dependency Problem

I can find the jar file in the below directory:
TIBCO_HOME\bwce\2.3\maven\plugins\bw6-maven-plugin\com.tibco.bw.palette.shared_6.1.100.003.jar

Please help how to r

[2019-04-15 04:39] SujataDarekar commented on #265
@saravanaprasaths Please try with the latest Tibco Maven plugin version 2.1.1 and let us know if you face the same issue again

[2019-04-16 17:32] amitmohanty88 commented on #264
@sonalshingavi  Thanks for looking the issue .I have uninstalled and Reinstalled TIBCO BW Maven Plugin 2.1.1 and now i am no longer getting the missing dependancy error .Now i am getting below error

[ERROR] Unknown lifecycle phase "Order". You must specify a valid lifecycle phase or a goal in the format <plugin-prefix>:<goal> or <plugin-group-id>:<plugin-artifact-id>[:<plugin-version>]:<goal>. Av

[2019-04-17 06:24] sonalshingavi commented on #264
Hi @amitmohanty88

Which goal are you executing when you get the error  **Unknown lifecycle phase "Order". **?

[2019-04-17 07:41] amitmohanty88 commented on #264
@sonalshingavi ,

Thanks for the Quick Response .This goal issue is fixed now because there was a space in the path given to the deployment configuration file which contains appnode and appspace details .

But again i am getting the old error for which i raised this issue

Below is the Error the ear is getting deployed to TEA but going to start failed due to below error for the project attached in

[2019-04-17 08:45] sonalshingavi commented on #264
Hi @amitmohanty88
You can share the webex.
Are you able to deploy this project successfully without using maven?

[2019-04-17 08:55] amitmohanty88 commented on #264
@sonalshingavi ,

Yes i am able to deploy to TIBCO TEA but its getting deployed with Start failed with above error

https://infosys.webex.com/join/amit.mohanty

Can you please join above webex at 3 PM IST  .

I will open my webex at 3 PM IST.

[2019-04-17 09:15] sonalshingavi commented on #264
Hi @amitmohanty88
Do you mean that application getting start failed even you deployed the EAR without using maven plugin?

Sorry, I can not join webex.
I will try it out at my end and let you know.
Thank You

[2019-04-17 09:26] amitmohanty88 commented on #264
@sonalshingavi ,

Yes Application is getting started and Running fine in TEA  if i am deploying without maven plugin .

But if i am deploying with maven plugin using pom.xml its getting deployed to TEA but status is coming as Start failed with below error in TEA:

2019-04-17 05:41:25.967 INFO  [qtp206554640-41] com.tibco.thor.frwk.Application - TIBCO-THOR-FRWK-300008: Stopped BW Application [HIP.G

[2019-04-17 09:30] sonalshingavi commented on #264
Thank You @amitmohanty88
I will try it out at my end and let you know.

[2019-04-17 19:07] aerina01 opened #266 "Custom Plugin jar not working with EAR created using mvn plugin at runtime"
We created an ear using mvn plugin which has custom plugin jar and tried to deploy it .The engines are not starting up after deployment and giving Lifecycle error. The plugin jars are included in BW 6.x jars(tibcohome\bw\6.5\system\shared).Please let us know if there is any work around for this.

[2019-04-18 16:20] amitmohanty88 commented on #264
@sonalshingavi
Thanks for checking out the issue just checking if you have  found the issue on this .

[2019-04-22 15:17] #266 closed

[2019-04-24 06:34] awagle commented on #264
Please check HIP.ESB.ProjectTemplate project. The version in pom.xml is 1.0.0 and Manifest is 1.3.0. Can you sync them to one version and rebuild the EAR and attach it again? Try changing the version to 1.3.0 in the POM file and rebuild using Maven. The Application Module is trying to find version 1.3.0 but the built version is 1.0.0

[2019-04-25 22:30] maven2019 opened #267 "Jenkin Build failing"
My Jenkins

[2019-04-27 04:28] #267 closed

[2019-05-01 15:15] deepatailor opened #268 "EAR generated using maven for BW6.5 application is incomplete"
I ma using maven plugin to facilitate CI/CD for our BW 6.5 applications. I have gone through various steps to set it up, however while running the maven build the EAR generated seems to be incomplete and not containing any of the BW application resources or dependency shared modules.

I am suspecting its due to its trying to look for source code according to java project structure instead of BW pr

[2019-05-02 16:36] ashutoshbhide commented on #268
@deepatailor Are you running the Maven command from application project or parent project?
When you generate the POM files it generates the parent project as well.
Do try running it from that project and then let us know if it works or not?

[2019-05-02 16:42] deepatailor commented on #268
@ashutoshbhide
Today after seeing your comment, I tried running it from the .parent project as well and got the same result and same EAR got generated

[2019-05-02 16:45] ashutoshbhide commented on #268
@deepatailor
Can you add the logs after running the maven build from the parent project here.

[2019-05-02 16:46] deepatailor commented on #268
Sure its as below:

[INFO] Scanning for projects...
[INFO] Starting Maven Build for BW6 Project.................................
[INFO] Checking for In-Project JAR dependencies if any and Pushing them to Local Maven Repository
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building crm.systemuser.application 1.10.0-SNAPSHOT
[INFO] --------------------

[2019-05-02 16:47] deepatailor commented on #268
I am going away from my laptop for few mins,  I will check the thread when I get back and respond if there is any new comments.

[2019-05-02 16:49] ashutoshbhide commented on #268
@deepatailor

I still dont think its being run from parent project.
If you run from Parent project it will print the logs similar to following.

Probably try it from command line as well.

[INFO] ------------------------------------------------------------------------
[INFO] Reactor Build Order:
[INFO]
[INFO] demo.application.parent                                            [pom]
[INFO] demo

[2019-05-02 17:36] deepatailor commented on #268
@ashutoshbhide
Now I am running it from the parent folder and getting below error for the deploy goal:

[INFO] Scanning for projects...
[INFO] Starting Maven Build for BW6 Project.................................
[INFO] Checking for In-Project JAR dependencies if any and Pushing them to Local Maven Repository
[INFO] ------------------------------------------------------------------------
[INFO] Re

[2019-05-02 18:00] ashutoshbhide commented on #268
@deepatailor
Try the command mvn install

To run mvn deploy you will have to setup a maven central repository ( Nexus or Artifactory) and then do the required configuration.

[2019-05-02 18:12] deepatailor commented on #268
@ashutoshbhide
Thank you so much. I will install/setup Artifactory and try, will update the ticket if I run into any issues after that or if it works as expected.

[2019-05-03 05:18] deepatailor commented on #268
@ashutoshbhide
I was able to deploy the application to the tea domain, thanks much for your help with this.

[2019-05-03 05:20] tirukommi commented on #78
Hi team,
I have referred all the above posts, still, I am facing the Resource folder missing issue. Please help/suggest on this.
Versions are :- BW6.5, Maven 3.6.0 & bw6-plugin-maven-2.1.1

![image](https://user-images.githubusercontent.com/47517154/57120777-2df18800-6d91-11e9-9a37-259d5c0e6c76.png)

Thanks ahead

[2019-05-03 10:22] kgera-tibco opened #269 "Deploying Application with Custom Profile using Maven plugin [enhancement]"
**Requirement**: Deployment of application with a custom profile in Maven plugin setup

This is achievable(tested) with BWCE when deploying application manually in a Docker Container setup following below mentioned steps:
----------------
1. Create a new .substvar file following the same structure as an existing substvar file.
2. In the newly created substvar file, replace the values of the token

[2019-05-16 15:47] amitmohanty88 commented on #264
@awagle
Aditya after changing all project versions to 1 version we were able to deploy successfully but the ear is going under Application Archives Section .But we have project specific folders inside Application Archives where we want to place the archive during auto deployment .

Below is the Deployment Config Properties which is working

deployToAdmin=true
profile=QA.substvar
domain=QAESB
appSp

[2019-05-18 11:46] vinitamonga opened #270 "Missing artifact com.tibco.plugins:com.tibco.bw.palette.shared:jar:6.1.100 and Missing artifact com.tibco.plugins:com.tibco.xml.cxf.common:jar:1.3.200"
TIBCO BW CE version 2.4.
Maven Plugin version 2.1.1

Both below jar are present in location /bwce/2.4/maven/plugins/bw6-maven-plugin

![mavenJars](https://user-images.githubusercontent.com/15131957/57969094-6fd51d80-7990-11e9-802f-95de7c055e0a.PNG)

Still after generate pom.xml , getting error as
**Missing artifact com.tibco.plugins:com.tibco.bw.palette.shared:jar:6.1.100
Missing artifact com.tibc

[2019-05-18 11:49] vinitamonga commented on #265
I am facing this same issue with Maven plugin 2.1.1. Below are the errors after generating pom.xml file.

Missing artifact com.tibco.plugins:com.tibco.xml.cxf.common:jar:1.3.200
Missing artifact com.tibco.plugins:com.tibco.bw.palette.shared:jar:6.1.100

I can see both jars are present in \TIBHome_CE\bwce\2.4\maven\plugins\bw6-maven-plugin

[2019-05-19 19:55] amitmohanty88 commented on #264
@awagle @sonalshingavi @SujataDarekar
After changing all project versions to 1 version we were able to deploy successfully but the ear is going under Application Archives Section .But we have project specific folders inside Application Archives where we want to place the archive during auto deployment .

Below is the Deployment Config Properties which is working

deployToAdmin=true
profile=QA.subs

[2019-05-22 13:36] akashgugale15 opened #271 "Type Swagger parsing error."
We are facing issues while importing a shared module to the application module. Our project is Mavenized and we face this issue only when we add the shared module (jar) as dependency in our application pom file. Below is the error that we are getting:

Description	Resource	Path	Location	Type
Swagger parsing error.	authentication_auto.json	/MitekConfiguration/Service Descriptors	Service Descriptors

[2019-05-22 22:44] JeganSubramani1 opened #272 "Tibco Maven plugin is not pulling all the transtivitve dependency jar"
The jar dependency we use in application pom.xml, inturn has many dependencies. Though all those jars are available in our maven repo, maven plugin is still enforcing to add those dependencies application pom.xml. This leads so many dependency entries to application pom.

we have reached to tibco support team and they suggest to contact github community. Please find support answer below. Kindly ch

[2019-05-23 07:31] vyada7 opened #273 "Error Installing in BW 6.5.1+ Eclipse installable unit is not found"
C:\software\TIB_BW_Maven_Plugin_2.1.1>install

C:\software\TIB_BW_Maven_Plugin_2.1.1>java -Dtibcohomepath= -cp antpackage.jar o
rg.apache.tools.ant.launch.Launcher
Buildfile: C:\software\TIB_BW_Maven_Plugin_2.1.1\build.xml

getTibcoHome:
     [echo]
     [echo]                 %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%
     [echo]                 Installing Plugin Code for A

[2019-05-23 08:23] SudhenduP commented on #76
I had the same issue. What worked for me was starting Business Studio as an admin.

[2019-05-23 08:26] SujataDarekar commented on #270
@vinitamonga Could you please whether those JAR's are present on .m2 home or not?

[2019-05-23 08:28] SujataDarekar commented on #271
@akashgugale15 We will check and let you know

[2019-05-23 08:34] sonalshingavi commented on #264
Hi @amitmohanty88
We don't provide any config property for Application Archives folder when you are deploying the application from the studio.
Whenever you are deploying the application, the EAR file will be created under **project_application/target/** folder and it will deploy the application successfully.

If you want to deploy EAR from project specific folder we provide "bwdeployer" goal. You

[2019-05-23 08:37] ankitapandey1 commented on #273
@vyada7  Please check the proxy settings , It seems the error occurs because of proxy that denies to access the internet, which is preventing the installer from retrieving packages from the Eclipse site.

[2019-05-23 09:08] SujataDarekar commented on #265
@saravanaprasaths  Which Apache Maven version are you using?

[2019-05-23 09:09] SujataDarekar commented on #270
@vinitamonga Also please let us know which Apache Maven version you are using

[2019-05-23 09:15] vyada7 commented on #273
Hi Ankit,

While running install bat , I am setting proxy setting for HTTP and HTTPS like this on cmd. These credentials are working fine for me in explorer and eclipse.

set HTTP_PROXY=http://GROUP\XXXX:XXXX@proxy.xxx.com:8080

Did I need to do something else also.

Regards
Vikas

From: ankitapandey1 <notifications@github.com>
Sent: Thursday, May 23, 2019 2:07 PM
To: TIBCOSoftware/bw6-plugin-mave

[2019-05-23 10:11] ankitapandey1 commented on #273
you can also add Proxy details via the Studio Windows -> Preferences -> General --> Network Connections.

[2019-05-23 10:12] goutham-muragavel commented on #264
Hi Sonal, we are deploying the application using jenkins and using the deployment.properties file which has the details of appspace, domain. we would like to know how to mention the application archives directory in this deployment.properties file as by default everything is getting stored in <<BW_HOME>>/domains/<<DomainName>>/archives/. In TIBCO Tea there is provision to create a sub folder from

[2019-05-23 10:13] goutham-muragavel commented on #264
Hi @sonalshingavi , we are deploying the application using jenkins and using the deployment.properties file which has the details of appspace, domain. we would like to know how to mention the application archives directory in this deployment.properties file as by default everything is getting stored in <<BW_HOME>>/domains/<>/archives/. In TIBCO Tea there is provision to create a sub folder from th

[2019-05-23 10:14] vyada7 commented on #273
Already did same

From: ankitapandey1 <notifications@github.com>
Sent: Thursday, May 23, 2019 3:41 PM
To: TIBCOSoftware/bw6-plugin-maven <bw6-plugin-maven@noreply.github.com>
Cc: Vikas Yadav 2 <vikas.yadav1@publicissapient.com>; Mention <mention@noreply.github.com>
Subject: Re: [TIBCOSoftware/bw6-plugin-maven] Error Installing in BW 6.5.1+ Eclipse installable unit is not found (#273)

you can also

[2019-05-23 10:49] sonalshingavi commented on #272
Hi @JeganSubramani1
Follow the below steps to add transitive dependencies in the project.
Steps:
      1) Add a dependency entry in the project module POM file.
      2) Right click on project module click on Maven then click on Update Project...
It will add all the transitive dependency jar under project module/Maven Dependencies

I am using
Maven Plugin version: 2.1.1
Maven version: 3.5.4
Produc

[2019-05-23 17:21] JeganSubramani1 commented on #272
Hi Sonal Shingavi

Please find the sample pom.xml. Though tibcovalidation pom has additionalvalidation jar as dependency, tibco CE throwing error at runtime as class from additionalvalidation.jar is missing or not found.

when we verified maven repo, we are able to see jar are properly downloaded.

I am using
Maven Plugin: 1.3.1
Maven : 3.6.0
Product : Tibco Container Edition CE
Version: 2.3.4

Sa

[2019-05-24 09:01] goutham-muragavel commented on #264
@awagle , can you please look into this.

[2019-05-24 11:57] sonalshingavi commented on #264
Hi @goutham-muragavel
Can you please elaborate the scenario. as it seems a bit unclear.

[2019-05-24 12:08] sonalshingavi commented on #264
Hi @goutham-muragavel
As you mentation, You have application archive location which you want to add in deployment.properties file.
Do you have an EAR file already created? or are you using the same EAR file generated in the target folder?
Can you please elaborate the scenario, as it seems lit unclear to me.

[2019-05-24 12:12] goutham-muragavel commented on #264
Hi @sonalshingavi , we are using the same EAR file generated in target folder and using the deployment.properties file to deploy to the specified appspace. Now, we would like to know how to mention the application archive location to a different folder.
Please let me know if we need to setup a webex to discuss on this.

[2019-05-27 07:51] sonalshingavi commented on #264
Hi @goutham-muragavel
Thanks for elaborating the scenario, I get your requirement.
I am working on it. I will let you know ones I have more information.

[2019-05-27 13:10] akashgugale15 commented on #271
@SujataDarekar : Is there any update? Is it possible to have an entitlement with TIBCO Support to have an SLA for Maven plugin related issues as well?

[2019-05-27 13:21] SujataDarekar commented on #271
Hi Akash
Are you getting that error  while running any goal or it is getting after adding the shared module? Also could you please try to add shared module dependency in module POM in the place of application POM?

[2019-05-27 13:27] SujataDarekar commented on #271
Also after adding the shared module dependency in module pom if you get the same error please attach the reproducible use case

[2019-05-27 14:29] akashgugale15 commented on #271
@SujataDarekar : We are getting error after adding the shared module itself. The error does not hamper the functionality at runtime. Dependencies are added in module POM. Unfortunately we cannot attach our code as it is restricted by our client.

[2019-05-27 14:40] akashgugale15 opened #274 "Business Studio stops responding when open a sub process in shared module"
Maven Plugin version: 2.1.1

Maven version: 3.6.0

Product : TIBCO ActiveMatrix Businessworks 6

Product version: 6.5.0 HF07

Component: Maven Eclipse Plugin

**Steps to reproduce the issue:**
1. Add a shared module as dependency in pom.xml
2. Open a sub-process in shared module
3. Studio hangs (stops responding)

[2019-05-28 10:05] goutham-muragavel commented on #264
@awagle @sonalshingavi , Please let me know if you were able to check on this.

[2019-05-28 10:24] awagle commented on #264
Folks this is an enhancement and @sonalshingavi will provide updates once we have completed evaluation. Appreciate your patience. Meanwhile if you do have suggestions feel free to send a pull request and we would be happy to merge it.

[2019-05-28 10:37] awagle opened #276 "Ability for users to provide application archives folder to upload the EAR in domain. See #264"
See #264 for detailed conversations.

[2019-05-28 10:37] awagle commented on #264
@goutham-muragavel I will create a new issue and reference this issue there. I see the original issue reported was different to the one we are talking about now.
Closing this issue. Opened #276

[2019-05-28 10:37] #264 closed

[2019-05-28 11:52] SujataDarekar commented on #271
@akashgugale15 I am able to reproduce the issue with a sample project. Will let you know for further update

[2019-05-29 14:15] Strickmabil opened #277 "Plugin goals usage"
Maven Plugin version: 2.1.1

Maven version: 3.2

Product : TIBCO ActiveMatrix Businessworks 6

Product version:

Component: Maven build plugin

Is there any way to get details on the usage of these goals? Since wiki Help page is out-of-date.

[ERROR] Could not find goal 'bwtesf' in plugin com.tibco.plugins:bw6-maven-plugin:2.1.1 among available goals bwdeployer, bwear, bwfabric8json, bwinstall, bw

[2019-05-30 09:24] SujataDarekar opened #278 "To provide mocking support for BW activities"
To provide the mocking support for BW activities that are based or dependent on some external Cloud Service or Database systems which are eventually under Unit Testing. Mocking support will be provided for those activities which are present in a subprocess. Process starter and signal in activities will not be covered with this enhancement

[2019-05-30 23:34] JeganSubramani1 commented on #272
Hi Team,

Can you please provide update on this issue?

[2019-05-31 04:52] SujataDarekar commented on #278
Please refer the wiki page https://github.com/TIBCOSoftware/bw6-plugin-maven/wiki/Steps-To-Add-MockOutput for more details. The mocking feature will be available with BWCE 2.4.4 installer

[2019-05-31 04:52] #278 closed

[2019-05-31 04:53] SujataDarekar commented on #252
Changes have been done with Maven Plugin Installer 2.2.0 hence closing the issue

[2019-05-31 04:53] #252 closed

[2019-05-31 04:54] SujataDarekar commented on #261
Changes have been done with Maven Plugin 2.2.0

[2019-05-31 04:54] #261 closed

[2019-05-31 09:26] sonalshingavi commented on #272
Hi @JeganSubramani1

Can you please check the extension of the downloaded jar in maven repository?
Is it LASTUPDATED ?

[2019-05-31 17:33] JeganSubramani1 commented on #272
Hi @sonalshingavi
Yes it is lastupdated only.

[2019-06-03 05:19] SujataDarekar commented on #272
@JeganSubramani1 The .lastupdated extension indicates that Maven attempted to obtain dependency by download but it was failed to download the dependency. The reason for the same could be the dependency is not present on the maven central repository. So In order to use the dependency which is not present on central, you need to install it in .m2 repository.

[2019-06-03 05:36] SujataDarekar commented on #273
@vyada7 If you are using proxy and can access the link(org.eclipse.m2e) with the browser the same settings need to be applied to Maven. For maven, you need to add proxy details in settings.xml if you are using a proxy

[2019-06-03 22:30] JeganSubramani1 commented on #272
@sonalshingavi  @SujataDarekar
I dont see any issue in .m2 repository. I could see all the jars properly download in local .m2 repository. The issue, TIBCO CE throws class not found error even the jar are avilable in .m2 repository for below scenario. example jar is using abctest.jar internally.

 <dependencies>
    <dependency>
      <groupId>com.tibco.example</groupId>
      <artifactId>example<

[2019-06-04 05:55] SujataDarekar commented on #272
@JeganSubramani1 as per earlier comment you have dependency additionalvalidation.jar which is having .lastupdated extension. Now can you confirm that you are able to open that dependent JAR with transitive dependency as well? If you are then we can say that the jar is downloaded properly.
At our side, we have a sample project with transitive dependency and we are able to add it successfully. Can y

[2019-06-04 12:40] kgera-tibco opened #279 "Ability to generate Unit testing report in SonarQube supported Generic format"
Hi, this is regarding an enhancement request from a customer who uses SonarQube to store Unit testing coverage reports from BW.
For Unit Testing, BW generate report in HTML format which is not supported by SonarQube at the moment.
Requirement: Provide ability in BW to generate Unit Testing report in one of the formats supported by SonarQube or Generic Format allowed by SonarQube(which is XML).
Ple

[2019-06-07 08:17] goutham-muragavel commented on #276
@sonalshingavi , Gentle Reminder: Please let me know if we have any update on this.

[2019-06-10 05:23] sonalshingavi commented on #276
@goutham-muragavel
I am working on it. I will let you know ones
I have more information.

[2019-06-11 14:18] SumenBiswas commented on #265
@SujataDarekar
Installed TIB_BW_Maven_Plugin_2.1.1 but still I'm getting Missing artifact com.tibco.plugins:com.tibco.bw.palette.shared:jar:6.1.100.

![image](https://user-images.githubusercontent.com/51710102/59279511-09ab8580-8c32-11e9-93cb-d4532ffbc083.png)

![image](https://user-images.githubusercontent.com/51710102/59279597-3495d980-8c32-11e9-897d-63c08f2615f8.png)

[2019-06-13 06:18] SujataDarekar commented on #265
@saravanaprasaths Can you please confirm which apache maven version you are using by running "mvn -v" on command prompt

[2019-06-13 07:16] SujataDarekar opened #280 "The XML file to be provided in the mock output file should be validated."
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE REQUEST
-->
Maven Plugin version: 2.2.0

Maven version:3.6.0

Product version:BWCE 2.4.4

Component: Either of Maven Eclipse Plugin or

[2019-06-13 09:59] saravanaprasaths commented on #265
@SujataDarekar , I am using the latest Maven, but my issue was not related to version. For me the issue got resolved after renaming the jar's, those files where having ".lastUpdated".

[2019-06-13 10:07] SujataDarekar commented on #265
@saravanaprasaths there are 2 reasons for getting Missing artifact error. One if you have the artifact with .lastupdated  and the second one is if you don't have Apache Maven installed in that case also there is a chance to get Missing artifact exception. Now in your last comment, I can see the JARs with proper extension hence asked for maven version. If your issue got resolved then, please close

[2019-06-13 12:49] mrachapa opened #281 "Maven archtype for BW6"
[TIBCO_BWCE_MavenArchetype_Approach - Copy.docx](https://github.com/TIBCOSoftware/bw6-plugin-maven/files/3286069/TIBCO_BWCE_MavenArchetype_Approach.-.Copy.docx)

Maven Plugin version:

Maven version:

Product : Either of TIBCO ActiveMatrix Businessworks 6 OR TIBCO Businessworks Container edition

Product version:

Component: Either of Maven Eclipse Plugin or Maven build plugin

**Steps to reproduc

[2019-06-13 13:41] #265 closed

[2019-06-17 06:00] SujataDarekar commented on #280
The fix will be provided with Maven Installer 2.2.1 Hence closing the issue.

[2019-06-17 06:00] #280 closed

[2019-06-17 08:22] SonaliDasgupta commented on #270
@vinitamonga  Any updates ?

[2019-06-17 08:22] #270 closed

[2019-06-18 23:22] whitesource-for-github-com[bot] opened #283 "CVE-2018-10237 (Medium) detected in guava-18.0.jar"
## CVE-2018-10237 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>guava-18.0.jar</b></p></summary>

<p>Guava is a suite of core and expanded libraries that include
    utility classes, google's collections, io classes, and much
    much more.

    Guava has only

[2019-06-18 23:22] whitesource-for-github-com[bot] opened #284 "CVE-2011-1498 (Medium) detected in httpclient-4.0.2.jar"
## CVE-2011-1498 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>httpclient-4.0.2.jar</b></p></summary>

<p>HttpComponents Client (base module)</p>
<p>Library home page: <a href="http://hc.apache.org/httpcomponents-client">http://hc.apache.org/httpcomponents-clie

[2019-06-18 23:22] whitesource-for-github-com[bot] opened #285 "CVE-2012-6153 (Medium) detected in httpclient-4.0.2.jar"
## CVE-2012-6153 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>httpclient-4.0.2.jar</b></p></summary>

<p>HttpComponents Client (base module)</p>
<p>Library home page: <a href="http://hc.apache.org/httpcomponents-client">http://hc.apache.org/httpcomponents-clie

[2019-06-18 23:22] whitesource-for-github-com[bot] opened #286 "CVE-2014-3577 (Medium) detected in httpclient-4.0.2.jar"
## CVE-2014-3577 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>httpclient-4.0.2.jar</b></p></summary>

<p>HttpComponents Client (base module)</p>
<p>Library home page: <a href="http://hc.apache.org/httpcomponents-client">http://hc.apache.org/httpcomponents-clie

[2019-06-18 23:22] whitesource-for-github-com[bot] opened #287 "WS-2009-0001 (Low) detected in commons-codec-1.3.jar - autoclosed"
## WS-2009-0001 - Low Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>commons-codec-1.3.jar</b></p></summary>

<p>The codec package contains simple encoder and decoders for
   various formats such as Base64 and Hexadecimal.  In addition to these
   widely used encoders an

[2019-06-18 23:22] whitesource-for-github-com[bot] opened #288 "WS-2010-0001 (Medium) detected in commons-codec-1.3.jar - autoclosed"
## WS-2010-0001 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>commons-codec-1.3.jar</b></p></summary>

<p>The codec package contains simple encoder and decoders for
   various formats such as Base64 and Hexadecimal.  In addition to these
   widely used encoders

[2019-06-18 23:22] mend-for-github-com[bot] opened #289 "CVE-2014-0114 (High) detected in struts-core-1.3.8.jar, commons-beanutils-1.7.0.jar"
## CVE-2014-0114 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>struts-core-1.3.8.jar</b>, <b>commons-beanutils-1.7.0.jar</b></p></summary>
<p>

<details><summary><b>struts-core-1.3.8.jar</b></p></summary>

<p>Apache Struts</p>
<p>Library home page: <a href="htt

[2019-06-18 23:22] mend-for-github-com[bot] opened #290 "CVE-2015-0899 (High) detected in struts-core-1.3.8.jar"
## CVE-2015-0899 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>struts-core-1.3.8.jar</b></p></summary>

<p>Apache Struts</p>
<p>Library home page: <a href="http://struts.apache.org">http://struts.apache.org</a></p>
<p>Path to dependency file: /Source/bw6-maven-pl

[2019-06-18 23:22] mend-for-github-com[bot] opened #291 "CVE-2016-1181 (High) detected in struts-core-1.3.8.jar"
## CVE-2016-1181 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>struts-core-1.3.8.jar</b></p></summary>

<p>Apache Struts</p>
<p>Library home page: <a href="http://struts.apache.org">http://struts.apache.org</a></p>
<p>Path to dependency file: /Source/bw6-maven-pl

[2019-06-18 23:22] mend-for-github-com[bot] opened #292 "CVE-2016-1182 (High) detected in struts-core-1.3.8.jar"
## CVE-2016-1182 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>struts-core-1.3.8.jar</b></p></summary>

<p>Apache Struts</p>
<p>Library home page: <a href="http://struts.apache.org">http://struts.apache.org</a></p>
<p>Path to dependency file: /Source/bw6-maven-pl

[2019-06-18 23:22] whitesource-for-github-com[bot] opened #293 "WS-2018-0137 (High) detected in plexus-archiver-2.1.jar - autoclosed"
## WS-2018-0137 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>plexus-archiver-2.1.jar</b></p></summary>

<p></p>
<p>Path to dependency file: bw6-plugin-maven/Source/bw6-maven-plugin/pom.xml</p>
<p>Path to vulnerable library: /home/wss-scanner/.m2/repository/org/c

[2019-06-18 23:22] whitesource-for-github-com[bot] opened #294 "CVE-2017-1000487 (High) detected in plexus-utils-3.0.10.jar - autoclosed"
## CVE-2017-1000487 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>plexus-utils-3.0.10.jar</b></p></summary>

<p>A collection of various utility classes to ease working with strings, files, command lines, XML and
    more.</p>
<p>Path to vulnerable library: /Sourc

[2019-06-18 23:22] mend-for-github-com[bot] opened #295 "CVE-2018-1000632 (High) detected in dom4j-1.1.jar"
## CVE-2018-1000632 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>dom4j-1.1.jar</b></p></summary>

<p></p>
<p>Path to dependency file: /Source/bw6-maven-plugin/pom.xml</p>
<p>Path to vulnerable library: /home/wss-scanner/.m2/repository/dom4j/dom4j/1.1/dom4j-1.1.j

[2019-06-18 23:22] whitesource-for-github-com[bot] opened #296 "CVE-2017-15095 (High) detected in jackson-databind-2.6.1.jar"
## CVE-2017-15095 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">ht

[2019-06-18 23:23] whitesource-for-github-com[bot] opened #297 "CVE-2017-17485 (High) detected in jackson-databind-2.6.1.jar"
## CVE-2017-17485 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">ht

[2019-06-18 23:23] whitesource-for-github-com[bot] opened #298 "CVE-2017-7525 (High) detected in jackson-databind-2.6.1.jar"
## CVE-2017-7525 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">htt

[2019-06-18 23:23] whitesource-for-github-com[bot] opened #299 "CVE-2018-11307 (Medium) detected in jackson-databind-2.6.1.jar"
## CVE-2018-11307 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">

[2019-06-18 23:23] whitesource-for-github-com[bot] opened #300 "CVE-2018-12022 (High) detected in jackson-databind-2.6.1.jar"
## CVE-2018-12022 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">ht

[2019-06-18 23:23] whitesource-for-github-com[bot] opened #301 "CVE-2018-12023 (High) detected in jackson-databind-2.6.1.jar"
## CVE-2018-12023 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">ht

[2019-06-18 23:23] whitesource-for-github-com[bot] opened #302 "CVE-2018-14718 (High) detected in jackson-databind-2.6.1.jar"
## CVE-2018-14718 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">ht

[2019-06-18 23:23] whitesource-for-github-com[bot] opened #303 "CVE-2018-14719 (High) detected in jackson-databind-2.6.1.jar"
## CVE-2018-14719 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">ht

[2019-06-18 23:23] whitesource-for-github-com[bot] opened #304 "CVE-2018-14720 (High) detected in jackson-databind-2.6.1.jar"
## CVE-2018-14720 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">ht

[2019-06-18 23:23] whitesource-for-github-com[bot] opened #305 "CVE-2018-14721 (High) detected in jackson-databind-2.6.1.jar"
## CVE-2018-14721 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">ht

[2019-06-18 23:23] whitesource-for-github-com[bot] opened #306 "CVE-2018-19360 (High) detected in jackson-databind-2.6.1.jar"
## CVE-2018-19360 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">ht

[2019-06-18 23:23] whitesource-for-github-com[bot] opened #307 "CVE-2018-19361 (High) detected in jackson-databind-2.6.1.jar"
## CVE-2018-19361 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">ht

[2019-06-18 23:23] whitesource-for-github-com[bot] opened #308 "CVE-2018-19362 (High) detected in jackson-databind-2.6.1.jar"
## CVE-2018-19362 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">ht

[2019-06-18 23:23] whitesource-for-github-com[bot] opened #309 "CVE-2018-5968 (High) detected in jackson-databind-2.6.1.jar"
## CVE-2018-5968 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">htt

[2019-06-18 23:23] whitesource-for-github-com[bot] opened #310 "CVE-2018-7489 (High) detected in jackson-databind-2.6.1.jar"
## CVE-2018-7489 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">htt

[2019-06-18 23:23] whitesource-for-github-com[bot] opened #311 "CVE-2019-12086 (High) detected in jackson-databind-2.6.1.jar"
## CVE-2019-12086 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">ht

[2019-06-18 23:23] whitesource-for-github-com[bot] opened #312 "CVE-2015-4852 (High) detected in commons-collections-3.2.1.jar"
## CVE-2015-4852 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>commons-collections-3.2.1.jar</b></p></summary>

<p>Types that extend and augment the Java Collections Framework.</p>
<p>Library home page: <a href="http://commons.apache.org/collections/">http://comm

[2019-06-18 23:23] mend-for-github-com[bot] opened #313 "CVE-2015-6420 (High) detected in commons-collections-3.2.1.jar"
## CVE-2015-6420 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>commons-collections-3.2.1.jar</b></p></summary>

<p>Types that extend and augment the Java Collections Framework.</p>
<p>Path to dependency file: /Source/bw6-maven-plugin/pom.xml</p>
<p>Path to vulner

[2019-06-18 23:23] mend-for-github-com[bot] opened #314 "CVE-2015-7501 (High) detected in commons-collections-3.2.1.jar"
## CVE-2015-7501 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>commons-collections-3.2.1.jar</b></p></summary>

<p>Types that extend and augment the Java Collections Framework.</p>
<p>Path to dependency file: /Source/bw6-maven-plugin/pom.xml</p>
<p>Path to vulner

[2019-06-18 23:23] mend-for-github-com[bot] opened #315 "CVE-2017-15708 (High) detected in commons-collections-3.2.1.jar"
## CVE-2017-15708 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>commons-collections-3.2.1.jar</b></p></summary>

<p>Types that extend and augment the Java Collections Framework.</p>
<p>Path to dependency file: /Source/bw6-maven-plugin/pom.xml</p>
<p>Path to vulne

[2019-06-18 23:23] whitesource-for-github-com[bot] opened #316 "WS-2018-0124 (Medium) detected in jackson-core-2.6.1.jar"
## WS-2018-0124 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-core-2.6.1.jar</b></p></summary>

<p>Core Jackson abstractions, basic JSON streaming API implementation</p>
<p>Library home page: <a href="https://github.com/FasterXML/jackson-core">https://g

[2019-06-18 23:23] whitesource-for-github-com[bot] opened #317 "WS-2018-0125 (Medium) detected in jackson-core-2.6.1.jar"
## WS-2018-0125 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-core-2.6.1.jar</b></p></summary>

<p>Core Jackson abstractions, basic JSON streaming API implementation</p>
<p>Library home page: <a href="https://github.com/FasterXML/jackson-core">https://g

[2019-06-19 20:11] JeganSubramani1 commented on #272
Working on sample project.. will upload soon.

[2019-06-21 08:40] sonalshingavi commented on #276
Hi @goutham-muragavel

As your requirement to provide Application archive folder in the config file.
Now, You can add "externalEarLoc" with external EAR location path in the config file.
It will create an EAR file at the provided location and deploy on tea.

I am sharing the zoom recording to show you this new feature to provide the external ear location in the config file.

It will come in the ne

[2019-06-25 06:10] amitmohanty88 commented on #276
@awagle
Thanks for sharing the steps we have gone through the zoom recording .Currently we are using TIB_BW_Maven_Plugin_2.1.1 version in TIBBCO BW 6 Studio .This new feature is added in which version of Maven Plugin and is the new Plugin is available now ?If the New feature containing plugin is available can you please  share the download link .If the New Feature containing Maven plugin is not av

[2019-06-25 09:17] sonalshingavi commented on #276
Hi @amitmohanty88
Probably, This feature will add in TIB_BW_Maven_Plugin_2.3.0. We haven't finalized the date yet, to release TIB_BW_Maven_Plugin_2.3.0. I will update to you soon when will be a plugin available.

[2019-06-26 10:22] vyada7 opened #318 "Need to do versioning of TIBCO BW ear"
Hi,

We are using tibco Bw 6.5.1 and want to do versioning of ear on higher environment for tracking purpose.

We are using maven to build and deploy. What would be the steps to do ear versioning on each build?

Maven Plugin version:

Maven version:

Product : Either of TIBCO ActiveMatrix Businessworks 6 OR TIBCO Businessworks Container edition

Product version:

Component: Either of Maven Eclipse

[2019-06-28 07:01] SujataDarekar commented on #318
@vyada7 We have default format to generate EAR version which is the combination of artifact_id and major and minor bundle version. We don't provide any steps do ear versioning

[2019-06-28 07:10] vyada7 commented on #318
Hi Sujata,

I need to change in ear version. So , where I should do the change in artifact id and major and minor version.

Regards
Vikas

From: Sujata <notifications@github.com>
Sent: Friday, June 28, 2019 12:32 PM
To: TIBCOSoftware/bw6-plugin-maven <bw6-plugin-maven@noreply.github.com>
Cc: Vikas Yadav 2 <vikas.yadav1@publicissapient.com>; Mention <mention@noreply.github.com>
Subject: Re: [TIBCOS

[2019-06-28 10:14] akashgugale15 commented on #274
Is there any update on above issue? Its been a month and the ticket is still not assigned.

[2019-06-28 10:33] SujataDarekar commented on #274
@akashgugale15 The issue is not reproducible at our end. Could you please share the reproducible use case?

[2019-06-28 10:39] SujataDarekar commented on #318
@vyada7 As I said currently the default versioning is done through code if you have a requirement to do customized versioning for  BW ear then we will consider this as an enhancement where the user will provide the EAR name while running the "package" goal.

[2019-07-01 06:32] SujataDarekar opened #319 "[Mocking] User should be allowed to use multiple Sub-Processes in a Single Testfile to use Mocking feature"
Maven Plugin version: 2.2.0

Maven version: 3.5.4

Product : BWCE

Product version:2.4.4

Component: Either of Maven Eclipse Plugin or Maven build plugin

**Steps to reproduce the issue:**
Currently, it's a limitation that user can't add multiple sub-process in a single test file and if he does so the mocking UI will not work as expected and it will start showing assertion UI.

[2019-07-01 06:36] SujataDarekar commented on #319
Now user can add multiple subprocesses in Single test file to use the mock feature. Changes are planned for Maven Plugin 2.3.0 and BWCE 2.4.5.

[2019-07-01 06:36] #319 closed

[2019-07-02 09:02] SujataDarekar opened #320 "[Mocking] To enable/disable added mocking to the activities"
[Mocking] To enable/disable added mocking to the activities

---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE REQUEST
-->
Maven Plugin version: 2.2.0

Maven version:3.5.0

Product : BW

[2019-07-02 09:02] SujataDarekar commented on #320
"disableMocking" property is added in Maven Installer which will disable mocking for all activities.

Run the test goal by passing -DdisableMocking in following way:

mvn -DdisableMocking = true //this will disable mocking for all mocked activities.

[2019-07-02 19:56] thirutibco opened #322 "Downloading bwce maven plugin artifacts bundle"
Hello,
Is there any way to download the maven artifacts bundle, instead of downloading during the plugin installation process?
We are trying to automate the installation, where we need to refer the downloaded bundle instead of downloading the artifacts from maven as we have some firewall related issues.

Thanks,
Thiru

[2019-07-03 07:02] whitesource-for-github-com[bot] opened #323 "WS-2016-7057 (Medium) detected in plexus-utils-3.0.20.jar, plexus-utils-3.0.10.jar"
## WS-2016-7057 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>plexus-utils-3.0.20.jar</b>, <b>plexus-utils-3.0.10.jar</b></p></summary>
<p>

<details><summary><b>plexus-utils-3.0.20.jar</b></p></summary>

<p>A collection of various utility classes to ease wor

[2019-07-03 07:02] whitesource-for-github-com[bot] opened #324 "CVE-2019-12384 (Medium) detected in jackson-databind-2.6.1.jar"
## CVE-2019-12384 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">

[2019-07-03 07:02] whitesource-for-github-com[bot] opened #325 "CVE-2019-12814 (Medium) detected in jackson-databind-2.6.1.jar"
## CVE-2019-12814 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">

[2019-07-03 07:02] whitesource-for-github-com[bot] opened #326 "WS-2017-3734 (Medium) detected in httpclient-4.0.2.jar"
## WS-2017-3734 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>httpclient-4.0.2.jar</b></p></summary>

<p>HttpComponents Client (base module)</p>
<p>Library home page: <a href="http://hc.apache.org/httpcomponents-client">http://hc.apache.org/httpcomponents-clien

[2019-07-08 05:12] SujataDarekar commented on #281
@mrachapa Currently, BW Maven Installer doesn't provide a way to create Maven Archetype for BW project. We need to customize the process required to create Maven Archetype for BW project. We will take this as an enhancement and will work accordingly.

[2019-07-09 06:47] SujataDarekar commented on #326
This dependency gets added through the transitive dependency of "maven-reporting-impl" and this is handled by Maven itself. Hence closing the issue

[2019-07-09 06:47] #326 closed

[2019-07-09 06:58] SujataDarekar commented on #271
@akashgugale15  This issue is not from maven plugin side but it's related to Rest/Json component. Above issue is reproducible without maven as well. Hence closing the issue.
Please track Jira AMBW-36363 for more details

[2019-07-09 06:58] #271 closed

[2019-07-09 07:14] SujataDarekar commented on #318
@
Please create the new enhancement if there is any new requirement related to EAR versioning. Closing the issue as per the above comment.

[2019-07-09 07:14] #318 closed

[2019-07-09 07:59] SujataDarekar commented on #273
Closing the issue based on the above comments.

[2019-07-09 07:59] #273 closed

[2019-07-09 08:01] SujataDarekar commented on #272
@JeganSubramani1 Any update?

[2019-07-09 08:03] SujataDarekar commented on #268
@deepatailor Closing the issue based on previous comment

[2019-07-09 08:03] #268 closed

[2019-07-09 08:16] SujataDarekar commented on #258
@jwerginz  As per the logs, I can see the bundle unresolved errors. There was a unit testing issue with 6.5.0 HF4 which was fixed with maven Plugin 2.2.0. You can try to debug with the latest installer and source code.
Please reopen in case you any errors.

[2019-07-09 08:16] #258 closed

[2019-07-09 08:28] SujataDarekar commented on #256
@alexandrev With the latest version if you check when we provide the incorrect Tibco home / bw home, we are showing log message as "Provided TibcoHome directory is invalid. Skipping Test Phase" on console and in this case, BW engine doesn't get starts since the tibco/bw home is invalid. and I think this should be fine. Please let us know if you think different

[2019-07-09 08:34] SujataDarekar commented on #248
@AndreAfonso87 Although org.apache,jcs has transitive dependency it will get downloaded through maven because maven downloads the transitive dependencies as well. Could you please let us know still are you facing the null pointer issue ?

[2019-07-09 08:36] SujataDarekar commented on #247
@alexandrev Yes, we can store the only normal shared module in .m2. Closing the issue.

[2019-07-09 08:36] #247 closed

[2019-07-09 08:38] SujataDarekar commented on #215
@vtaront Could you please send the pull request for the above-mentioned code?

[2019-07-09 08:39] SujataDarekar commented on #215
@vtaront Please let us know if you have any concern

[2019-07-09 08:59] #320 closed

[2019-07-09 10:49] AndreAfonso87 commented on #248
Currently we are using the workaround of having the jar inside the project. And i'm not able to reproduce the problem now.
It can be closed for the moment. Thanks

[2019-07-09 10:49] #248 closed

[2019-07-10 07:08] sonalshingavi commented on #276
Closing this issue, fixed by pull request #327

[2019-07-10 07:08] #276 closed

[2019-07-10 21:50] mmussett opened #328 "Support for BW Cloud and creating of manifest"
Maven Plugin version: 2.2.0
Maven version: 3.6.0

Please can we include support for deployment to cloud so that both EAR and manifest are generated.

[2019-07-11 10:34] kkane-tibco opened #329 "Packager is including Maven dependencies with test scope"
For Java shared modules it is common to include some test cases (under src/test/java) for unit tests to be executed by JUnit.

When running Maven builds, this requires the appropriate JUnit library to be added as a dependency in the pom file - typically with scope "test", so that it is not packaged into a deployable archive.

With the BW Maven plug-in we've noticed that this dependency is still ge

[2019-07-11 15:45] subiwani commented on #4
Is there any update over this issue; Like if there is any goal now available which will include process diagrams in ear package during build or we still have to follow the procedure of generating it in studio, so as to be included in ear.

[2019-07-11 17:08] HiteshNembhwani commented on #4
@subiwani bwdesign utility is another alternative if you want to generate the process diagrams via CLI. (apart from the Studio option)

[2019-07-11 21:10] HiteshNembhwani opened #330 "Unable to bind BWCE monitoring service with BWCE application via Maven (Fabric8) on K8S"
I'm using BWCE 2.4.4 version with Maven 2.2.0 plugin version. Goal is to deploy the application on K8S (GKE) over Docker containers using Maven and Jenkins. In the deployment.yml file, I've specified the environment variable in various different formats but after running the goal fabric8:resource fabric8:apply, the environment variables are getting reset and hence the BWCE Monitoring environment v

[2019-07-12 03:49] AntAreS24 commented on #118
@awagle @mshahat  any update on that plugin? I can't see the repo for this feature.

[2019-07-12 03:53] awagle commented on #118
We are still working on it. The repo will be private until we have completed everything and have obtained all approvals.

[2019-07-15 20:36] HiteshNembhwani opened #331 "Ability to package without unused resources"
Could we please provide an ability to package an EAR (archive) without unused resources via Maven similar to the feature available via BusinessStudio in BWCE 2.4.4 version - https://docs.tibco.com/pub/bwce/2.4.4/doc/html/GUID-339673A0-C101-44B9-8B77-41DD3316AB64.html

[2019-07-16 06:28] rishikeshpalve opened #332 "Enhancement - Support Kubernetes Deployment controller"
Currently the maven plug-in allows creation of Kubernetes ReplicationController. Kubernetes also supports Deployments Controller and 'Deployments' is a recommended way for creating and managing pods in Kubernetes environments. The plug-in should support creating 'Deployments'.

[2019-07-17 10:10] MitenCNL commented on #76
Please check if Maven itself is installed/configured in Linux/Windows environment.
For Linux, can use sudo yum install maven.
For Windows:- follow procedure at https://www.mkyong.com/maven/how-to-install-maven-in-windows/

Once done, install maven plugin for BW again and verify.

Above solution worked for me.

[2019-07-18 10:23] goutham-muragavel opened #333 "Bw 6 maven plugin Query"
Hi @sonalshingavi  ,
Please let us know the property that can be used in config file for deploying the application without starting it.

Thanks and Regards,
Goutham

[2019-07-18 10:42] SujataDarekar commented on #333
@goutham-muragavel  please refer wiki https://github.com/TIBCOSoftware/bw6-plugin-maven/wiki/EAR-Deployment

[2019-07-18 10:49] goutham-muragavel commented on #333
@SujataDarekar , it does not provide me the information on which property to use in the config file for not starting the application after deployment.

[2019-07-18 11:10] sonalshingavi commented on #333
Hi @goutham-muragavel
Currently, We do not support any property in the config file for deploying the application without starting it.

[2019-07-18 11:41] goutham-muragavel commented on #333
Thanks @sonalshingavi  for the reply.

[2019-07-25 02:11] j-ajendra opened #334 "maven package (or a new goal) to autogenerate process diagrams"
**Enhancement**

Environment - CI/CD server

Ears built using maven does not include process diagrams unless explicitly generated from studio before code check-in.

Is it possible to have a maven goal do the task of generating diagrams?

Any other recommended approach to do this?

[2019-07-25 02:15] awagle commented on #334
We have discussed this in other issues as well. The building of process diagrams needs eclipse. Bwdesign utility can be used instead of Studio if required but this functionality cannot be ported to Maven.

[2019-07-25 02:15] #334 closed

[2019-07-25 02:17] awagle commented on #331
Cannot be done since the unused resources functionality relies on Studio and cannot be ported to Maven.

[2019-07-25 02:17] #331 closed

[2019-07-25 02:18] #333 closed

[2019-07-26 11:06] SujataDarekar opened #335 "To provide unit testing support for Plugin project"
Currently, Unit testing functionality is not working at runtime for plugin project. This issue is created to provide unit testing support for the plugin at runtime

[2019-07-26 11:09] SujataDarekar commented on #272
Closing the issue since there is no update from a long time. Please reopen if you face it again

[2019-07-26 11:09] #272 closed

[2019-07-26 11:10] SujataDarekar commented on #256
@alexandrev  Closing the issue since the validation is already present

[2019-07-26 11:10] #256 closed

[2019-07-26 13:34] benynagy opened #336 "Exposing RemoteDeployer's deployApplication(..startOnDeploy...) as plugin parameter"
Maven Plugin version: 2.1.0+

Maven version: 3.6.0+

Product : Either of TIBCO ActiveMatrix Businessworks 6 OR TIBCO Businessworks Container edition

Product version:

Component: Either of Maven Eclipse Plugin or Maven build plugin

**Steps to reproduce the issue:**
1.
2.
3.

**Additional environment details if any:**

**Describe the results you received:**

RemoteDeployer -> deployApplication ->

[2019-07-26 15:31] cmocanu1 opened #337 "Failed to instantiate type com.tibco.bw.extensions.logback.BWCustomConverter"
I have a working project with tests and is running ok with version 2.2.0 but after upgrade to 2.3.0 is not working anymore and is complaining about some logger classes.

`java.lang.ClassNotFoundException: com.tibco.bw.extensions.logback.BWAppFileAppenderFilter cannot be found by com.tibco.tpcl.logback_1.1.100.001`

If I switch back on version 2.3.0 (only by changing the version in pom.xml of the p

[2019-07-29 04:32] SujataDarekar commented on #337
@cmocanu1 Can you please share the reproducible use case?

[2019-07-29 15:43] cmocanu1 commented on #337
If I share the project ... I don't know how useful will be because requires an AS/400 (IBM i plugin) in order to run.

I had an working project, build, package and testes in maven 2.2.0 plugin and I just upgraded the maven plugin to 2.3.0 and updated the version in pom.xml and obtained the error.

[2019-07-29 15:57] SujataDarekar commented on #337
@cmocanu1  Based on the logs I have fixed the issue and the fix will be available with Maven Installer 2.3.1

[2019-07-29 16:44] cmocanu1 commented on #337
Thank you! I'll be glad to test it and confirm it!

[2019-07-30 05:37] SujataDarekar opened #338 "Unit Test support for Plugin"
Currently, when we run the unit test for the external plugin like OData, salesforce it is giving bundle unresolved error.
This issue is created to support the unit test for Plugin as well.

[2019-07-30 05:37] SujataDarekar commented on #338
The issue is fixed and the fix will be provided with Maven Installer 2.3.1

[2019-07-30 05:37] #338 closed

[2019-07-30 06:37] HiteshNembhwani opened #340 "Unit Tests with BWCE 2.4.5 and Maven 2.3.0 version"
Tried to run a simple unit test against this version with Maven Plugin 2.3.0, the output was reporting that it found the 1 unit test but there was no success or failure result (see below).
[20190729-SimpleApp.zip](https://github.com/TIBCOSoftware/bw6-plugin-maven/files/3445465/20190729-SimpleApp.zip)

I have also attached my project. Please advise.

This works well with BWCE 2.4.4 version.

[INFO]

[2019-07-30 06:37] HiteshNembhwani commented on #340
@SujataDarekar - fyi, I'll share the mock file also soon.

[2019-07-30 09:22] SujataDarekar commented on #337
@cmocanu1 I have committed the fix. Please follow the below steps to test the issue
1. Pull out source code "bw6-plugin-maven/tree/master/Source/bw6-maven-plugin" in the studio and just run the package goal on it. It will create the bw6-maven-plugin-2.3.0.jar in target folder.
2. Download the TIB_BW_Maven_Plugin_2.3.0 installer and unzip it.
3. Unzip\TIB_BW_Maven_Plugin_2.3.0\config\bw6-maven-plug

[2019-07-30 14:13] cmocanu1 commented on #337
I follow the steps you described and seams that this fix is ok. Problem is solved. You can find the logs attached.
[mvn-2.3.1.log](https://github.com/TIBCOSoftware/bw6-plugin-maven/files/3447204/mvn-2.3.1.log)

[2019-07-30 14:13] #337 closed

[2019-07-30 18:36] jchongtibco opened #341 "Unit Test Successful Even Though Mapper Mock File Has Bad Value"
[20190730-BWCE244UnitTest.zip](https://github.com/TIBCOSoftware/bw6-plugin-maven/files/3448440/20190730-BWCE244UnitTest.zip)
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Maven Plugin version:
2.3.0
Maven version:
3.3.3
Product : TIBCO Businessworks Container edition

Product version: 2.4.4

Component: Maven build plu

[2019-07-30 18:56] HiteshNembhwani commented on #340
[Uploading InvokeRESTAPIMockOutput.xml.zip…]()

@SujataDarekar mock file also attached but the issue is even without the mocking. (meaning remove the mocking from the activity and just have unit test scenario) thanks.

[2019-07-30 19:29] jchongtibco opened #342 "Mapper Assertion With XML String Not Working"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Maven Plugin version:
2.3.0
Maven version:
3.3.3
Product : TIBCO Businessworks Container edition

Product version: 2.4.4

Component: Maven build plugin

**Steps to reproduce the issue:**
1. Maven build the attached project with test goal.

**Additional environment details

[2019-07-31 04:57] SujataDarekar commented on #341
@jchongtibco Can you please update the issue title as  Unit test is successful even though mapper mock output file has a BAD value or something like that. Also please share the mock output which has BAD value

[2019-07-31 05:05] SujataDarekar commented on #335
The issue is fixed and it will be provided with Maven Plugin 2.3.1

[2019-07-31 05:05] #335 closed

[2019-07-31 05:05] SujataDarekar commented on #329
The issue is fixed and will be available with Maven Plugin 2.3.1

[2019-07-31 05:05] #329 closed

[2019-07-31 05:09] SujataDarekar opened #343 ""Engine Debug Port" field is added in POM Generation wizard"
Currently, the in Unit testing, by default "8090" port is used to start the engine which can not be changed by the user.
This enhancement is created to add the "Engine Debug Port" field in POM Generation wizard So that user can change the value of port if they want.
The default value will be 8090

[2019-07-31 05:09] SujataDarekar commented on #343
The issue has been  fixed and will be provided with Maven Installer 2.3.1

[2019-07-31 05:09] #343 closed

[2019-07-31 10:07] SujataDarekar commented on #340
@HiteshNembhwani  Can you create the process property with the default value of gold input and map that property to the gold input and run the project?

[2019-07-31 14:12] tanu1127 opened #344 "The Maven imported shared module shows an error when trying to open a subprocess within it"
Maven Plugin version: v 2.1.1
Maven version: 3.5.4

Product : Either of TIBCO ActiveMatrix Businessworks 6

Product version: 6.5.0 HF06

Component: Either of Maven Eclipse Plugin or Maven build plugin

**Steps to reproduce the issue:**
1. Import the shared module through reference method (preferences -> target platform -> edit -> add ->  BW Shared Module and click 'next' -> Enter the location of t

[2019-08-02 17:19] jchongtibco commented on #340
It does report success/failure if I use the gold input from a process property. However, when it is comparing the input json string with the gold input (from process property) with the same json string, it is reporting as failure.

Tests for simpleapp.module.SubProcess
Tests run : 1    Success : 0 	Failure : 1	Errors : 0
Results
Success : 0    Failure : 1    Errors : 0

[2019-08-05 05:18] SujataDarekar commented on #340
@jchongtibco As discussed on slack I have tested the attached project by providing the gold input value through process property and it worked fine. Please check the project shared on slack.

[2019-08-05 05:18] SujataDarekar commented on #342
@jchongtibco As discussed on slack I have tested the attached project by providing the gold input value through process property and it worked fine. Please check the project shared on slack.

[2019-08-05 08:57] pbelien opened #345 "Question: Java dependency not in classpath EAR"
Maven Plugin version: 2.2.0

Maven version: 3.5,4

Product : Either of TIBCO ActiveMatrix Businessworks 6.5.0 HF7

Product version: 6.5.0 HF7

Component: Maven build plugin

**Steps to reproduce the issue:**
1. Open Maven BW6 project
2. Add dependency in module pom
<dependency>
    <groupId>org.jasypt</groupId>
    <artifactId>jasypt</artifactId>
    <version>1.9.2</version>
</dependency>
3. Gener

[2019-08-05 09:14] SujataDarekar commented on #345
@pbelien When you add any dependency in module POM with "compile" scope,  it should get added in the EAR. I tried to add dependency "jasypt " mentioned by you and I am able to generate  EAR successfully with that dependency.

[2019-08-05 14:04] pbelien commented on #345
Thnx, played around with it some more and I indeed see the dependency now being packaged.

[2019-08-05 14:04] #345 closed

[2019-08-07 05:41] SujataDarekar commented on #342
@jchongtibco  PFA attached project. I have tested the Assertion by passing a correct  and incorrect value through gold input process property.

[2019-08-07 05:41] SujataDarekar commented on #342
[UnitTest1.zip](https://github.com/TIBCOSoftware/bw6-plugin-maven/files/3475436/UnitTest1.zip)

[2019-08-07 10:55] anithareddycog opened #346 "How to generate substvar file without "deploy ear to bw administrator""
Maven Plugin version:

Maven version:

Product : Either of TIBCO ActiveMatrix Businessworks 6 OR TIBCO Businessworks Container edition

Product version:

Component: Either of Maven Eclipse Plugin or Maven build plugin

**Steps to reproduce the issue:**
1.
2.
3.

**Additional environment details if any:**

**Describe the results you received:**

**Describe the results you expected:**

**Additional

[2019-08-07 16:30] PierreAyelTibco opened #347 "Upload or deploy EAR into domain or both..."
Hi

In the bwinstall goal, it would be nice to be able to upload the EAR into the domain but not deploy it, or just deploy it if it has already been loaded. Maybe another property, for example "deploy" to true (default) or false and another one "upload" to true (default) or false

Thank you

[2019-08-07 16:32] PierreAyelTibco opened #348 "How to deploy without starting the application?"
Hi

In the bwinstall goal, it would be nice to be able to deploy an application but not start it yet. If this possible?

Thank you

[2019-08-07 23:07] R-Lamberson opened #349 "Not able to import BW Shared Module jar into Workspace using add dependency"
Maven Plugin version: 2.3.0
Maven version: 3.6.0

Product : TIBCO Businessworks Container edition 2.4.3

Product version:

Component: Either of Maven Eclipse Plugin or Maven build plugin

**Steps to reproduce the issue:**
1. Create shared component in BW and publish to maven repository.  Install it into the local .m2 repo
2. In the application pom.xml, add dependency to the appropriate group id, a

[2019-08-08 13:49] tanu1127 commented on #344
Can someone please pick this issue up?

[2019-08-09 01:11] whitesource-for-github-com[bot] opened #350 "CVE-2019-14379 (High) detected in jackson-databind-2.6.1.jar"
## CVE-2019-14379 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">ht

[2019-08-09 01:11] whitesource-for-github-com[bot] opened #351 "CVE-2019-14439 (Medium) detected in jackson-databind-2.6.1.jar"
## CVE-2019-14439 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">

[2019-08-09 03:42] SujataDarekar commented on #349
@R-Lamberson when we add dependency through module POM it gets pulled into studio workspace. We don't need to do any manual mechanism. Can you please make sure that you have added a dependency in module POM rather than application POM?

[2019-08-09 03:45] SujataDarekar commented on #348
@PierreAyelTibco Yes, We already have enhancement created for this requirement https://github.com/TIBCOSoftware/bw6-plugin-maven/issues/336.

[2019-08-09 03:45] #348 closed

[2019-08-09 03:46] SujataDarekar commented on #347
@sonalshingavi  Can you please check this?

[2019-08-09 05:04] sonalshingavi commented on #347
@SujataDarekar Sure. I will look into this.

[2019-08-09 14:48] Pittonio opened #352 "BW6 6.5.1 + Maven plugin 2.2 : The Java class is not found in the classpath"
Hello,

in BW6 I have a BW project converted in Java, and I have a class in it that I use in a JavaInvoke palette.

When I build the package with maven, everything is og, but if I try to run a UnitTest the running fails because the classpath doesn't contain the class used in the JavaInvoke Palette.

The error in the console is:

_The Java class [my.test.org.MyTestClass] is not found in the classpa

[2019-08-09 18:07] HiteshNembhwani commented on #342
per discussion with @SujataDarekar :

this is expected behavior because currently, we are supporting only primitive datatypes for assertion case. In the original project, activity output is XML value as a gold input of String type which results in the inappropriate result.

We have an enhancement to evaluate mocking complete activity output.

Now providing the output through process property can b

[2019-08-09 21:33] crmadrig opened #353 "Maven Plugin 2.3.0 fails to install on BWCE 2.4.5"
Maven Plugin version: 2.3.0

Maven version: 3.3.3

Product : TIBCO Businessworks Container edition

Product version: 2.4.5

Component: Maven build plugin

**Steps to reproduce the issue:**
1. Install a fresh copy of BWCE 2.4.5
2. Try to install BW Maven plugin 2.3.0 in the TIBCO Home that BWCE 2.4.5 was installed. It will hang for a bit, fail and continue on to the next steps

**Additional environ

[2019-08-09 21:36] eangelelli opened #354 "Custom Libs project - .ear built in Jenkins/Maven does not work"
Maven Plugin 2.1.1
Business Works 6.5.0 HF7

We have a project that is using custom libs for jms and db connectivity.
The .ear built in studio works - the .ear created from the same project (uploaded on Git) using Jenkins/Maven pipeline is not.
From the appnode log we can see the app remaining in 'impaired state' and no start.

Below the application 'includes' and the application 'pom'. Libs are n

[2019-08-09 22:17] HiteshNembhwani commented on #354
@eangelelli could you please upload the projects along with the POM files? thanks!

[2019-08-10 13:43] lczupryn commented on #322
needed jars are available in the unpacked config directory.
If it will help you here is a part of my ansible role:

[code]

[2019-08-10 16:25] eangelelli commented on #354
Thanks Hitesh,
code uploaded in:
https://drive.google.com/drive/folders/1lSuQquCp61loKP1wY3nlzaPM9kge9OWW?usp=sharing

[2019-08-12 14:13] R-Lamberson commented on #349
Sujata, yes sorry mistake in my note above, I added it to the module POM.  Through some trial and error I found that I seem to need to have the version attribute on the POM in the shared module include -SNAPSHOT.  After changing this the component was able to be added to the workspace as described.  Any details as to the requirement on the version tags?

[2019-08-13 09:48] SujataDarekar commented on #354
@HiteshNembhwani @eangelelli Currently we don't provide support to include Custom plugin while packaging the application. This will be considered as an enhancement.
For now, the following workaround may be useful to include the custom plugin with lib JAR.
1. Add the POM in Custom plugin with Manifest import bundles as a dependency with "provided" scope.
2. Install the custom plugin using the "inst

[2019-08-13 23:57] jchongtibco opened #356 "Unit test was not able to run on BW 6.5.1 HF2"
Maven Plugin version: 2.3.0

Maven version: 3.6.1

Product : TIBCO ActiveMatrix Businessworks 6

Product version: 6.5.1 HF 2

Component: Maven Eclipse Plugin or Maven build plugin

**Steps to reproduce the issue:**
1. Install BW 6.5.1 HF2
2. Install Maven Plugin
3. Create a simple project with unit test (attached) and run with Maven goal of test.

**Additional environment details if any:**
Windows

[2019-08-14 05:44] SujataDarekar commented on #356
@jchongtibco The issue has been fixed and will be available with Maven Installer 2.3.1.
If you want to test it you can follow the below steps:
I have committed the fix. Please follow the below steps to test the issue

1. Pull out source code "bw6-plugin-maven/tree/master/Source/bw6-maven-plugin" in the studio and just run the package goal on it. It will create the bw6-maven-plugin-2.3.0.jar in tar

[2019-08-14 05:45] #356 closed

[2019-08-14 06:05] SujataDarekar opened #357 "To provide support to include the Custom plugin while packaging the application"
Palettes like JMS, JDBC palette need some custom plugin while packaging the EAR. Currently, Maven Plugin does not provide support to include those custom plugin while packaging the EAR. This enhancement is created for the same.

[2019-08-14 06:17] SujataDarekar commented on #352
@Pittonio Could you please attach the reproducible case?

[2019-08-14 07:12] Pittonio commented on #352
@SujataDarekar please find attached my project.
[MyTest.zip](https://github.com/TIBCOSoftware/bw6-plugin-maven/files/3500206/MyTest.zip)

[2019-08-19 15:25] trentsch opened #358 "Version Number to Allow Alpha-numeric Characters"
In POM.xml can we use alpha numeric  values in place of APP_VERSION ?

Currently only numeric values are supported.

<version>${APP_VERSION}.${BUILD_NUMBER}</version>

Purpose : we can make use of the branch name as APP_VERSION which will give better understanding  of which code deployed.

Ex : "release.r2019-05-29.002"

[2019-08-22 01:30] Work1SaurGitHub opened #359 "Shared libraries appearing twice in ear"
Hello

I am using BW 6.4.2, Maven plug-in 1.3.1 and  Maven 3.3.9.
The shared libraries are appearing twice in the .ear file.
I see them in the base level of the .ear and then when I open the .jar for the application module they appear in a lib folder in the .jar.

I am using a pom file where the shared libraries are listed as dependencies in the pom. The shared module are also listed as dependenci

[2019-08-22 06:43] SujataDarekar commented on #359
@Work1SaurGitHub This is expected behavior because the dependency is added in POM file of module and dependencies of application as well hence it is packaging it in modul.JAR and application.ear as well. You can remove it from the application POM file. This could not be any problem

[2019-08-22 14:04] Work1SaurGitHub commented on #359
Thank you for the quick reply. I am asking for a clarification of one of your statements.  I want to be certain that the duplication will not cause a problem.

You stated "This could not be any problem"

If we leave our pom.xml as it is and have the shared library jars being included twice, the duplication will not cause a problem. Is that correct?

[2019-08-27 05:01] SujataDarekar commented on #359
@Work1SaurGitHub Duplication of a shared library could be a problem at the time of deployment. At the deployment time, OSGI may not resolve the duplicate dependency. Hence it will be better to remove it from application POM.

[2019-08-28 04:05] SujataDarekar commented on #359
@Work1SaurGitHub When you put the dependency in module's POM it goes in the lib folder of module.jar and when you add it in application's POM, It gets added in the ear. Closing the issue since it gets resolved.

[2019-08-28 04:05] #359 closed

[2019-08-28 04:53] SujataDarekar commented on #354
@eangelelli As communicated working with the provided workaround hence closing the issue. Enhancement is created to provide support to include the Custom plugin while packaging the application #357.

[2019-08-28 04:53] #354 closed

[2019-08-28 07:14] SonaliDasgupta commented on #330
@HiteshNembhwani  Could you please confirm once whether the following format in the YAML file works , to successfully register with the BWCE Monitor ?
env:
        - name: BW_APP_MONITORING_CONFIG
          value: '{"url": "http://146.148.58.182"}'

Please edit the YAML file with the following content before running the maven goal "fabric8:apply"

[2019-09-05 05:50] SujataDarekar commented on #353
@crmadrig This issue is not with BW Maven Plugin but as you mentioned it's a network issue which can not be fixed at plugin level

[2019-09-05 05:50] #353 closed

[2019-09-08 11:22] cremion commented on #144
@ankitapandey1 where can I track the JIRA id AMBW-34301? I too am running into this issue and would like to know status and when there might be a resolution. Thanks!

[2019-09-10 05:09] awagle commented on #144
@cremion you will need to raise a support ticket for TIBCO Support and provide the above JIRA ID. When the JIRA ticket gets and update the SR will also be updated.

[2019-09-10 08:32] SujataDarekar commented on #352
@Pittonio The issue has been fixed and will be available in next maven release 2.4.0 and with BW 6..6.0.
 The changes are from BW and maven side as well. Closing the issue

[2019-09-10 08:32] #352 closed

[2019-09-10 14:15] moalyousef1 opened #363 "Application status is not reflected in TEA"
After successful Jenkins and MAVEN deployment, BW6.5.0 application status is not reflecting to TEA.  Please see attachment for more details
 @[BW6.5.0-status.txt](https://github.com/TIBCOSoftware/bw6-plugin-maven/files/3596093/BW6.5.0-status.txt)

[2019-09-17 01:16] whitesource-for-github-com[bot] opened #364 "CVE-2019-14540 (Medium) detected in jackson-databind-2.6.1.jar"
## CVE-2019-14540 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">

[2019-09-17 01:16] whitesource-for-github-com[bot] opened #365 "CVE-2019-16335 (Medium) detected in jackson-databind-2.6.1.jar"
## CVE-2019-16335 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">

[2019-09-17 23:23] kavimittal opened #366 "getting error while trying to build maven package -- Execution default-bwmodule of goal com.tibco.plugins:bw6-maven-plugin:2.1.1:bwmodule failed.: NullPointerException"
Maven Plugin version: 2.1.1

Maven version: apache-maven-3.6.0

Product : TIBCO Businessworks Container edition

Product version: 2.4.4

Component: Either of Maven Eclipse Plugin or Maven build plugin

getting error while trying to build maven package -- Execution default-bwmodule of goal com.tibco.plugins:bw6-maven-plugin:2.1.1:bwmodule failed.: NullPointerException

[ERROR] Failed to execute goa

[2019-09-18 19:47] asatsi opened #367 "Maven fails in jenkins - Failure to find com.tibco.plugins:com.tibco.bw.palette.shared:jar:6.1.100"
BW version: 6.4.2
Maven Plugin version: 1.3.1, 2.3.1, 2.3.2
OS: Windows
Jenkins: 2.176.3
Apache Maven: 3.6.2

Facing error while executing maven job in Jenkins:
[code]

If I do the same job on command line it works well.
CMDLINE:
 `mvn -f Opr_Inv_Condo_Pub.application.parent/pom.xml clean initialize package`

[2019-09-18 19:49] asatsi commented on #363
Hello @moalyousef1 can you help how you managed to get Jenkins Maven plugin get working? Sorry this is not related to your issue but I am having trouble setting it up.

[2019-09-18 19:53] HiteshNembhwani commented on #363
@asatsi check this link and see if it helps - https://community.tibco.com/wiki/automate-tibco-businessworkstm-container-edition-deployments-k8s-maven-and-jenkins-cicd and if it doesn't, please elaborate the issue you're facing.

[2019-09-18 19:55] HiteshNembhwani commented on #367
@asatsi please see if you've followed the steps from this post: https://github.com/TIBCOSoftware/bw6-plugin-maven/issues/76

[2019-09-18 20:03] asatsi commented on #367
@HiteshNembhwani thanks for the reply. In my case the EAR file could be created successfully on command line. However it fails when I run the same thing in Jenkins with the above error. I can do a screen sharing if you would like to see.

[2019-09-18 20:18] asatsi commented on #367
I see the jar and pom files as
![image](https://user-images.githubusercontent.com/10648621/65182719-8a470280-da27-11e9-9042-172354ac2a83.png)

[2019-09-18 20:23] asatsi commented on #367
Looks like I was able to figure out the issue.

[2019-09-20 17:22] asatsi commented on #269
Is there any workaround to achieve this via mvn?

[2019-09-27 01:09] whitesource-for-github-com[bot] opened #368 "WS-2016-7062 (Medium) detected in plexus-utils-3.0.10.jar - autoclosed"
## WS-2016-7062 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>plexus-utils-3.0.10.jar</b></p></summary>

<p>A collection of various utility classes to ease working with strings, files, command lines, XML and
    more.</p>
<p>Path to vulnerable library: /Source/

[2019-09-30 04:30] AntAreS24 opened #369 "jaxb-api library missing"
Maven Plugin version: `2.3.1`
Maven version: `3.5.4`
Product : `TIBCO Businessworks Container edition`
Product version: `2.4.5`
Component: `Maven build plugin`
**Steps to reproduce the issue:**
1. on a **build server** (works fine on local machine), BWCE installed, Maven plugin NOT installed, but jar available through Nexus.
2. In parent folder, execute `mvn clean site package`
3. Build seems to b

[2019-09-30 10:02] richardelowe opened #370 "Unit tests don't run when the start activity has an input schema with nested elements"
Maven Plugin version: 2.3.1

Maven version: 3.6.2

Product : BWCE

Product version: 2.4.5

Component: Maven Eclipse Plugin

Steps to reproduce:
1. Use a schema (e.g. attached xsd) that contains nested elements as the input to a sub-process
2. Add the sub-process to a test file, add a test input on the start activity
3. Create an assertion on the end activity
4. Run the project using the Maven plug

[2019-10-02 13:37] anouarattn opened #371 "Referencing version of a dependency from parent pom in child pom"
Maven Plugin version: 2.3.1
Maven version: 3.6.1
Product : TIBCO Businessworks
Product version: 6.5.1 hotfixe 2

I have a parent pom that define a dependency in dependencyManagement bloc like this

	<dependencyManagement>
		<dependencies>
			<dependency>
				<groupId>com.tibco.plugins</groupId>
				<artifactId>com.tibco.bw.palette.shared</artifactId>
				<version>6.1.100</version>
			</dependency>

[2019-10-03 01:16] whitesource-for-github-com[bot] opened #372 "CVE-2019-16942 (Medium) detected in jackson-databind-2.6.1.jar"
## CVE-2019-16942 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">

[2019-10-03 01:16] whitesource-for-github-com[bot] opened #373 "CVE-2019-16943 (Medium) detected in jackson-databind-2.6.1.jar"
## CVE-2019-16943 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">

[2019-10-07 09:36] SujataDarekar commented on #367
@asatsi Based on the above comment closing the issue

[2019-10-07 09:36] #367 closed

[2019-10-07 09:53] SujataDarekar commented on #369
@AntAreS24 Is there any test file present in the "Test" folder? Also the dependency because of which it is failing is already added in Maven Installer's POM file. Can you please check whether it is present on your Nexus repo?

[2019-10-07 10:01] SujataDarekar commented on #363
@moalyousef1 Can you please elaborate the issue like when you deploy the application through maven on tea, Doesn't show the "Started" status?

[2019-10-07 10:07] SujataDarekar commented on #341
@jchongtibco  Please share the mock output which has BAD value

[2019-10-07 10:17] SujataDarekar commented on #340
This can be achieved through Enhancement AMBW-36632 related to assert complete activity output and will be provided with BW6.6.0 and feature maven release.
 Also providing the output through process property can be considered as an alternative to provide XML/JSON value to the gold input string which is working fine

[2019-10-07 10:17] #340 closed

[2019-10-07 15:20] anouarattn commented on #144
any update about this guys ?

[2019-10-08 19:20] asatsi commented on #367
For posterity purpose the issue was resolved by copying a working maven repository onto Jenkins configured maven repository.

[2019-10-09 10:51] AntAreS24 commented on #369
@SujataDarekar , yes there is only 1 test in the folder. I'm not sure about Nexus. I'll check tomorrow.

[2019-10-09 12:33] kgera-tibco opened #374 "Support to Generate POM for application with TIBCO Cloud as deployment option"
Currently, applications with TIBCO Cloud as deployment option cannot be deployed via Maven. Please can we include support for respective deployment option so POM can be generated in same way as docker/AppSpace.

[2019-10-10 10:58] prashanthme88 opened #375 "BW 6.5.1 Maven installation successful, but the application is not showing Generate POM file option"
studio-install:
     [echo]  Installing Eclipse M2E Plugin to Tibco Home
     [exec] log4j:WARN No appenders could be found for logger (org.apache.http.impl.conn.SingleClientConnManager).
     [exec] log4j:WARN Please initialize the log4j system properly.
     [exec] Installation failed.
     [exec] Unable to load repositories.
     [exec] Application failed, log file location: D:\tibco_upgrade2\s

[2019-10-10 11:40] SujataDarekar commented on #375
@prashanthme88 In Studio Can you check the Maven Version is showing or not in the following way:
 Help->Installation Details-> Installed Software->  TIBCO BusinessWorks™ Studio Feature for Maven

[2019-10-11 02:08] AntAreS24 commented on #369
@SujataDarekar I've check out Nexus and the library it NOT available. I've asked the team that looks after it and they said it's simply setup as a mirror/cache. So if the maven requests it, it will download it.

[2019-10-12 03:38] prashanthme88 commented on #375
This is installed in the installed software: BW6 Maven Dependencies Feature. This is required to install prerquisite JARs to the BW Studio before installing the m2e plugin.

[2019-10-12 09:46] prashanthme88 commented on #375
Issue resolved, the issue was with installation, the install.bat was trying to connect to internet to download the file for installation, later added the proxy in the Studio under Window --> Preferences -->General --> Network Connection.

[2019-10-12 09:46] #375 closed

[2019-10-14 02:57] AntAreS24 commented on #370
@richardelowe @SujataDarekar We're having the same problem. It's related to validation error  that silently prevent the test data to be injected in the process.

Basically, if you have a assertion that DOESN'T do casting (wrapping the inputTest with `string()` for example), the Test will be identified by the framework, but it won't be asserted.

This is actually a BW issue since you will have the

[2019-10-14 02:59] AntAreS24 commented on #369
Ok, I think I identified the issue.

I need Java 13 in my environment to run Java project, but TIBCO needs Java 8.

I could get around this by running the following command:
[code]

[2019-10-14 03:00] #369 closed

[2019-10-14 14:47] anouarattn opened #376 "Why updating Manifest-Version ?"
Hi,

I don't think we need to incrmeent Manifest-Version, it should be always 1.0 ? way are you updating that

regards

[2019-10-18 15:53] Hohenheim-of-Light commented on #356
Hello SujataDarekar,

I have the same problem with Maven Plugin version: 2.3.1 !

Maven version: 3.3.9

Product : TIBCO ActiveMatrix Businessworks 6

Product version: 6.5.1 HF 2

Component: Maven Eclipse Plugin or Maven build plugin:

[WARNING] No project URL defined - decoration links will not be relativized!
[INFO] Rendering content with org.apache.maven.skins:maven-default-skin:jar:1.2 skin.
[I

[2019-10-19 05:24] SujataDarekar commented on #356
@Hohenheim-of-Light The root cause of this was we were not loading the logback.jar through the maven plugin So it was giving class loading issue but in your logs I can see the filrnot found exception. Could you please let us know for which goal you are getting this exception?

[2019-10-21 07:25] Hohenheim-of-Light commented on #356
@SujataDarekar The goal i'm using is :
clean initialize site package

[2019-10-21 07:37] Hohenheim-of-Light commented on #356
@SujataDarekar
The issue doesn't occur with mvn clean package only.

[2019-10-22 10:59] SujataDarekar commented on #356
@Hohenheim-of-Light  Can you check why bwtestreport.xml is not get generated in your application project. Usually When we run the the test goal it gets generated in the target folder of application project

[2019-10-22 12:43] Hohenheim-of-Light commented on #356
@SujataDarekar
I found out that in the pom (parent) (after converting my project to maven project) the plugin report declaration missing!
Instead I have :
<reporting>
    <plugins>
      <plugin>
        <groupId>com.tibco.plugins</groupId>
        <artifactId>bw6-maven-plugin</artifactId>
        <version>2.3.1</version>
      </plugin>
    </plugins>
  </reporting>
	Consol execution : clean ini

[2019-10-22 12:45] Hohenheim-of-Light commented on #356
file1:
[INFO] Error stacktraces are turned on.
[INFO] Scanning for projects...
[INFO] Starting Maven Build for BW6 Project.................................
[INFO] Checking for In-Project JAR dependencies if any and Pushing them to Local Maven Repository
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Build Order:
[INFO]
[INFO] testRestADN.parent
[INFO

[2019-10-22 12:46] Hohenheim-of-Light commented on #356
File2

[INFO] Error stacktraces are turned on.
[INFO] Scanning for projects...
[INFO] Starting Maven Build for BW6 Project.................................
[INFO] Checking for In-Project JAR dependencies if any and Pushing them to Local Maven Repository
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Build Order:
[INFO]
[INFO] testRestADN.parent
[INFO

[2019-10-22 12:51] Hohenheim-of-Light commented on #356
case 1:
in target folder i have :
testRestADN.ear
maven-archiver/pom.properties

[2019-10-22 14:03] Hohenheim-of-Light commented on #356
[File1.txt](https://github.com/TIBCOSoftware/bw6-plugin-maven/files/3756119/File1.txt)

[2019-10-22 14:03] Hohenheim-of-Light commented on #356
[File2.txt](https://github.com/TIBCOSoftware/bw6-plugin-maven/files/3756121/File2.txt)

[2019-10-25 15:15] Hohenheim-of-Light commented on #356
@SujataDarekar
I tried the BW test with new machine and environment , I got the same error !

Maven Plugin version: 2.3.1

Maven version: 3.6.2

Product : TIBCO ActiveMatrix Businessworks 6

Product version: 6.5.1 HF 2

Component: Maven Eclipse Plugin or Maven build plugin

Steps to reproduce the issue:

    Install BW 6.5.1 HF2
    Install Maven Plugin
    Create a simple project with unit test (

[2019-10-27 11:12] albertosev commented on #263
Hi,

I have the same problem with the version 2.1.1 Is there any solution?

Thanks!

[2019-10-28 13:30] Hohenheim-of-Light opened #377 "Unit test was not able to run on BW 6.5.1 HF2 [FileNotFoundException: bwtestreport.xml]"
Maven Plugin version: 2.3.1

Maven version: 3.6.2

Product : TIBCO ActiveMatrix Businessworks 6

Product version: 6.5.1 HF 2

Component: Maven Eclipse Plugin or Maven build plugin

Steps to reproduce the issue:

Install BW 6.5.1 HF2
Install Maven Plugin
Create a simple project with unit test (attached) and run with Maven goal of test. (clean initialize site  package )

Additional environment detai

[2019-10-29 16:18] Hohenheim-of-Light commented on #370
Hello @AntAreS24, @SujataDarekar
I have the same problem:
Maven Plugin version: 2.3.1

Maven version: 3.6.2

Product: BW

Product version: 6.5.1 HF2

Component: Maven Eclipse Plugin

Steps to reproduce:
Create an XSD withe 2 levels:

![erroTestInput](https://user-images.githubusercontent.com/56733622/67786685-98009680-fa6f-11e9-8796-9209a190fd8d.png)

Tests for subPorcess.maxNumber
Tests run : 1

[2019-10-30 23:20] AntAreS24 commented on #370
@Hohenheim-of-Light The exception you're seeing has already been identified by TIBCO as a defect.

I've raised the other point I mentioned above and it seems it's a defect too.

Few things you need to look at:
1) Your assertions are not valid. You need to wrap the test value with type casting. For example, even if you have a string in your XPATH and the assertion is on a string, you need to wrap i

[2019-11-05 10:34] SujataDarekar commented on #269
@kgera-tibco
Deployment of application with a custom profile in Maven plugin setup.

This can be achieved through Maven as well.

You need to follow the Same step as Manual steps without using maven(mentioned above) only the difference is in Manual steps we pass the "BW_PROFILE" environment
variable while running the docker but in case of Maven you just need to add BW_PROFILE env variable while PO

[2019-11-07 21:10] AKandoi opened #378 "Failed to execute goal com.tibco.plugins:bw6-maven-plugin:2.3.0:bwmodule"
Trying to run mvn clean package and facing this issue.
Background is using TIBCO BWCE 2.4.3 version. BWCE plugin bw6-maven-plugin:2.3.0 is installed.
Maveniged the project in TIBCO stiudio using 'Generate POM' option. Added all dependencies and
after that I hit this issue.

[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 49.37

[2019-11-07 21:40] AKandoi commented on #378
what is suggested Maven Plugin Version for TIBCO BWCE 2.4.3 ?

[2019-11-08 05:43] SujataDarekar commented on #378
@AKandoi
Are you running "package" goal on custom plugin i.e com.tibco.custom.jms.provider? As per logs, I can see that you are running "package" goal on custom plugin. Could you please let me know the reason of running the "package" goal on custom plugin?
Also, Currently we don't provide support to include Custom plugin while packaging the application.we have enhancement created for the same.
For

[2019-11-08 05:46] SujataDarekar commented on #377
@msanchet Can you check if this case is reproducible at our end with BW 6.5.1 HF02?

[2019-11-08 16:34] AKandoi commented on #378
Thank you for prompt response. I will work on the same and revert. Yes, we are using custom plugin.

[2019-11-08 21:00] AKandoi commented on #378
1.Add the POM in Custom plugin with Manifest import bundles as a dependency with "provided" scope.
Modified the POM.XML attached pom with name (com.tibco.jms.custom.provider.pom)

2. Install the custom plugin using the "install" goal.

ran mvn clean install for above pom and hit below issue. Detailed logs in issue.txt

[INFO] Adding Maven Dependencies to the Plugin JAR file
[INFO] ----------------

[2019-11-11 04:24] awagle opened #379 "[Enchancement Request] - Mock Exceptions for activities"
It would be great to have a feature where instead of Mocking just the outputs, we can also mock faults thrown by activities so that users can trigger their exception handling logic and test all the transitions.

[2019-11-11 05:03] SujataDarekar commented on #378
@AKandoi  I have checked you com.tibco.jms.custom.provider.pom file and I have following observations/pointers:
1. In POM I can see the "com.tibco.custom.jms.provider" dependency is added. There is no need to add "com.tibco.custom.jms.provider" dependency in custom JMS provider plugin.I am not sure why you have added it
 2. Also for other two dependencies you need to install those JAR in your repo

[2019-11-11 14:22] AKandoi commented on #378
Thank you SujataDarekar! I will work on the same and revert.

[2019-11-11 21:33] AKandoi commented on #378
Appreciate your response and support!
I have installed all 3 jars as suggested and added two of them as dependencies. Removed "com.tibco.custom.jms.provider" as dependency. Some progress in BUILD. However hit "Failed to create BW EAR Archive : NullPointerException". Attaching the full log file(Logs11Nov.txt) for reference

***************
[ERROR] Failed to execute goal com.tibco.plugins:bw6-maven-

[2019-11-12 04:40] SujataDarekar commented on #378
@AKandoi Please share you POM file from BulkOrder.application . Also please check your all dependencies JAR are present on corresponding repository(m2 or remote).

[2019-11-12 10:14] SujataDarekar opened #380 "Support for Assertion mode as "Activity""
currently, we support primitive mode i.e. a user needing to select individual elements from an activity's output for the assertion. This enhancement is created to support assertion mode for "Activity" which will assert the entire activity output.

[2019-11-12 10:16] SujataDarekar commented on #380
This enhancement has been fixed and This will be available with Maven Plugin 2.4.0 and BW 6.6.0/BWCE 2.5.0

[2019-11-12 10:16] #380 closed

[2019-11-12 14:00] AKandoi commented on #378
attached the pom.xml. Pls have a look.
Yes we have whatever dependency defined in the respective pom of the package. If any dependency missing shouldn't it throw 'missing artifact'.

[2019-11-12 16:01] whitesource-for-github-com[bot] opened #381 "CVE-2019-17267 (High) detected in jackson-databind-2.6.1.jar"
## CVE-2019-17267 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">ht

[2019-11-12 16:01] whitesource-for-github-com[bot] opened #382 "CVE-2019-17531 (High) detected in jackson-databind-2.6.1.jar"
## CVE-2019-17531 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jackson-databind-2.6.1.jar</b></p></summary>

<p>General data-binding functionality for Jackson: works on core streaming API</p>
<p>Library home page: <a href="http://github.com/FasterXML/jackson">ht

[2019-11-12 19:44] AKandoi commented on #378
thanks we are able to generate EAR after adding some runtime dependencies to lib of that package and using BW-Maven-Plugin 2.1.1.

I have gone through the other threads where how to add resource folder with .bwd files? But still not able to follow.
Would you be able to guide me how to add those resource folder and .bwd files in EAR generated by Maven.

[2019-11-13 06:27] SujataDarekar commented on #378
@AKandoi Please refer https://github.com/TIBCOSoftware/bw6-plugin-maven/wiki/Steps-to-add-Process-Diagram-in-EAR to add bwd files in EAR.

[2019-11-13 14:43] damienRiv commented on #370
Hi,

you can realize some unit test with complexe structure.  You can found my project with complex structure in attachment.
I found that to perform unit tests it is sometimes necessary to correct the structure of the file bwt. Generally, the values in the <resolvedInput> tag are not correct. In my case I prepared my input with notepad ++ and then copy and paste the data.
[Unit_test.zip](https://g

[2019-11-14 07:36] marchelh opened #384 "Maven Libraries (jar) import path schema-location wrong when doing coercion"
Hi there,

When adding a coercion on a any element in a process, the schema-location is wrongly formated: <xsl:import-schema namespace="http://www.example.org/NewXMLSchema" schema-location="/Schemas/NewXMLSchema.xsd%3Ffile://home/tibco/.m2/repository/com/tibco/bw/TestModule/1.0.0-SNAPSHOT/TestModule-1.0.0-SNAPSHOT.jar"/>
where it should be:
<xsl:import-schema namespace="http://www.example.org/NewX

[2019-11-14 09:48] SujataDarekar commented on #370
@damienRiv Actually when input has nested schema and when user try to enter the value schema then it gives class cast exception which prevents to save data in .bwt file. This is defect and we will fix it with incoming BW release

[2019-11-14 20:28] jchongtibco opened #385 "Question: Using BW Maven Plugin 2.4.0 After 1.3.1"
We have a BWCE project with POM files generated using the bw6 maven plugin 1.3.1.
If the user were to use this same project (with the generated POM from 1.3.1) in a system with Maven Plugin 2.4.0 only, does he have to change anything in the old generated POM files?

Maven Plugin version: 2.4.0
Maven version: 3.6.1
Product : TIBCO Businessworks Container Edition
Product version: 2.4.5
Component: Ma

[2019-11-15 14:56] mesuts87 commented on #34
Hi, Could you also please update the document?

[2019-11-18 07:22] SujataDarekar commented on #385
@jchongtibco Regenerate the POM with Maven Plugin 2.4.0

[2019-11-18 07:22] #385 closed

[2019-11-18 08:33] SujataDarekar commented on #283
Fixed issue with above pull request

[2019-11-18 08:33] #283 closed

[2019-11-18 08:34] SujataDarekar commented on #296
Fixed issue with above pull request

[2019-11-18 08:34] #296 closed

[2019-11-18 08:34] SujataDarekar commented on #297
Fixed issue with above pull request

[2019-11-18 08:34] #297 closed

[2019-11-18 08:34] SujataDarekar commented on #298
Fixed issue with above pull request

[2019-11-18 08:34] #298 closed

[2019-11-18 08:35] SujataDarekar commented on #299
Fixed issue with above pull request

[2019-11-18 08:35] #299 closed

[2019-11-18 08:38] SujataDarekar commented on #300
Fixing issue with above pull request

[2019-11-18 08:38] #300 closed

[2019-11-18 08:40] SujataDarekar commented on #301
Fixing issue with above pull request

[2019-11-18 08:40] #301 closed

[2019-11-18 08:40] SujataDarekar commented on #302
Fixing issue with above pull request

[2019-11-18 08:40] #302 closed

[2019-11-18 08:44] SujataDarekar commented on #303
Fixing issue with above pull request

[2019-11-18 08:44] #303 closed

[2019-11-18 08:44] SujataDarekar commented on #304
Fixing issue with above pull request

[2019-11-18 08:44] #304 closed

[2019-11-18 08:44] SujataDarekar commented on #305
Fixing issue with above pull request

[2019-11-18 08:44] #305 closed

[2019-11-18 08:45] SujataDarekar commented on #306
Fixing issue with above pull request

[2019-11-18 08:45] #306 closed

[2019-11-18 08:45] SujataDarekar commented on #307
Fixing issue with above pull request

[2019-11-18 08:45] #307 closed

[2019-11-18 08:45] SujataDarekar commented on #308
Fixing issue with above pull request

[2019-11-18 08:45] #308 closed

[2019-11-18 08:46] SujataDarekar commented on #309
Fixing issue with above pull request

[2019-11-18 08:46] #309 closed

[2019-11-18 08:46] SujataDarekar commented on #310
Fixing issue with above pull request

[2019-11-18 08:46] #310 closed

[2019-11-18 08:47] SujataDarekar commented on #311
Fixing issue with above pull request

[2019-11-18 08:47] #311 closed

[2019-11-18 08:47] SujataDarekar commented on #312
Fixing issue with above pull request

[2019-11-18 08:47] #312 closed

[2019-11-18 08:47] SujataDarekar commented on #316
Fixing issue with above pull request

[2019-11-18 08:47] #316 closed

[2019-11-18 08:48] SujataDarekar commented on #317
Fixing issue with above pull request

[2019-11-18 08:48] #317 closed

[2019-11-18 08:48] SujataDarekar commented on #323
Fixing issue with above pull request

[2019-11-18 08:48] #323 closed

[2019-11-18 08:49] SujataDarekar commented on #324
Fixing issue with above pull request

[2019-11-18 08:49] #324 closed

[2019-11-18 08:49] SujataDarekar commented on #325
Fixing issue with above pull request

[2019-11-18 08:49] #325 closed

[2019-11-18 08:49] #350 closed

[2019-11-18 08:50] #351 closed

[2019-11-18 08:51] #364 closed

[2019-11-18 08:51] #365 closed

[2019-11-18 08:52] #372 closed

[2019-11-18 08:52] #373 closed

[2019-11-18 08:52] #381 closed

[2019-11-18 08:53] #382 closed

[2019-11-18 09:14] SujataDarekar commented on #378
@AKandoi Closing the issue based on the above comments. We have enhancement #357 to include custom plugin in EAR

[2019-11-18 09:14] #378 closed

[2019-11-18 09:19] SujataDarekar commented on #370
This defect is in BW unit test design time and Jira AMBW-37524 has been created for the same . hence closing the issue

[2019-11-18 09:19] #370 closed

[2019-11-18 10:31] msanchet commented on #377
@Hohenheim-of-Light
I have tried with my environment.
Unit Testing project is working fine at my end (BW 6.5.1 HF2  and Maven plugin 2.3.1)
Could you please attach the project with you are trying it out?

[2019-11-19 08:38] damienRiv commented on #336
Hi,

I would also like this evolution. Do you know if you can put this evolution on the next realease?

Thanks

[2019-11-19 09:54] medsiim commented on #336
Hello,

I would like to deploy my application without starting it, can you fix this issue please ?

Thanks,
Simo

[2019-11-19 10:20] SujataDarekar commented on #336
@medsiim @damienRiv We would plan this issue for next maven release

[2019-11-19 10:41] chtidav commented on #336
Hello Guys, Gr8 work for the plugin :)

I would love this feature too : could you pass the autostart parameter as a property ?

Cause in our env, when it is autostarting, it is crashing the OSGI context of the appNode and nothing is exploitable after... it seems that a temporization should be  needed... because we have forked plugin source and passed the autostart parameter to false and it is work

[2019-11-19 10:50] medsiim commented on #336
Thank you @SujataDarekar. i appreciate your contributions :) (y)

[2019-11-20 13:49] amitmohanty88 opened #386 "TIBCO BW Maven plugin 2.3.0 externalEarLoc property not working as expected"
Hi Team,

The BW Maven plugin 2.3.0 is not working as expected .we gave deployment configuration file like below for our unix machine

deployToAdmin=true
profile=QA.substvar
domain=QAESB
appSpace=AS_Retail_Store_Stock_BA_01
redeploy=true
httpPort=8079
hostname=FRHIPGQAESB01.emea.loreal.intra
appNode=AN_Retail_Store_Stock_BA_01
agentPort=8079
agentHost=FRHIPGQAESB01
externalEarLoc=/data/master/tibc

[2019-11-21 05:24] SujataDarekar commented on #386
@amitmohanty88 looks like you have provided relative path to "externalEarLoc". Please provide the absolute path and then try.

[2019-11-21 07:28] SujataDarekar commented on #384
@marchelh  It looks like the issue with schema location. At BW side we need to handle the schema having location from the JAR file for the coercion. Jira AMBW-37803 has been created for the same

[2019-11-21 07:48] amitmohanty88 commented on #386
@SujataDarekar ,

Thanks for your Time .But we tried by giving externalEarLoc=RETAIL

It didnot work .Ear stlll went to Root folder

We tried previously with below properties it didnot work

deployToAdmin=true
profile=QA.substvar
domain=QAESB
appSpace=AS_Retail_Store_Stock_BA_01
redeploy=true
httpPort=8079
hostname=FRHIPGQAESB01.emea.loreal.intra
appNode=AN_Retail_Store_Stock_BA_01
agentPort=8079

[2019-11-21 08:24] SujataDarekar commented on #386
Absolute file path means the complete file path like C:\data\master\tibco\bw\6.4\domains\QAESB\archives\RETAIL for windows or home/data/master/tibco/bw/6.4/domains/QAESB/archives/RETAIL for linux. Also Can you please let me know that the path you have mentioned for externalEarLoc is present on the same machine from where you are running the "deploy" goal?

[2019-11-21 09:10] amitmohanty88 commented on #386
@SujataDarekar

Neither

externalEarLoc=RETAIL

Nor
externalEarLoc=/data/master/tibco/bw/6.4/domains/QAESB/archives/RETAIL

worked .

none of these 2 path  worked.Both cases ear is going to root folder .

Path is already present in the machine attached screenshot also

we are deploying with goal deploy

Location.docx contains screenshot of the location on the machine
[Location.docx](https://github

[2019-11-21 10:43] sonalshingavi commented on #386
Hi @amitmohanty88

Can you please go through the attached zoom file and tried once.
Please let me know in case if you still have the same issue.
[zoom_0.zip](https://github.com/TIBCOSoftware/bw6-plugin-maven/files/3874210/zoom_0.zip)

[2019-11-21 19:05] amitmohanty88 commented on #386
Hi @sonalshingavi ,

I have gone through the zoom_0.zip .

Kindly Refer issue.Docx for issue Screenshots

I just now redeployed to verify this issue

You can see highlighted ear in (Issue.docx)went to root folder

externalEarLoc=/data/master/tibco/bw/6.4/domains/QAESB/archives/RETAIL given in properties file as per below

deployToAdmin=true
profile=QA.substvar
domain=QAESB
appSpace=AS_Retail_Store

[2019-11-22 05:45] marchelh commented on #384
@Sujata, thanks for the update. I already suspected that, and I will receive updates on the BW Jira item from TIBCO support.

[2019-11-22 05:45] #384 closed

[2019-11-25 06:08] sonalshingavi commented on #386
Hi @amitmohanty88
Can you please share the logs.
Thanks.

[2019-11-25 14:11] transferobject opened #387 "Missing artifact com.tibco.plugins:com.tibco.bw.palette.shared:jar:6.1.100"
All, i have already searched this issue and all of the thread didn't mentioned the resolution. My problem is on Windows 10 using TIBCO Business Studio for BusinessWorks (TM) 6.5.1

Maven Plugin version: 2.3.1

Maven version: apache-maven-3.5.3

Product : Either of TIBCO ActiveMatrix Businessworks 6

Product version: 6.5.1 HF 2

Component: Maven Eclipse Plugin

Please note that, i have already foll

[2019-11-26 11:06] SujataDarekar commented on #387
@transferobject You have provided wrong tibco home path "C:\tibcobw6\bw\6.5". Please provide the path till root folder only "C:\tibcobw6"

[2019-11-26 13:32] transferobject commented on #387
Thank you for response.

I did the following steps>

1) removed repository folder from C:\Users\1111111\.m2
2) removed maven folder from C:\tibcobw6\bw\6.5
3)Installed plugin (attached output). It installed at this location C:\tibcobw6\bw\6.5\maven. is that correct? (attached screenshots)
4) I checked this C:\Users\1111111\.m2 and it empty. should it be empty?
4) then i followed all the steps in "

[2019-11-26 14:43] amitmohanty88 commented on #386
Hi @sonalshingavi ,

Attached is the
[bwappnode1723386629411459009.log](https://github.com/TIBCOSoftware/bw6-plugin-maven/files/3892351/bwappnode1723386629411459009.log)
[Jenkins_Logs.txt](https://github.com/TIBCOSoftware/bw6-plugin-maven/files/3892352/Jenkins_Logs.txt)

BW logs and jenkins Logs

[2019-11-29 10:43] #341 closed

[2019-12-03 14:00] deepatailor opened #389 "Question - Compatibility with BW 6.5 hotfix 8"
We are using BW 6.5 hotfix 8, which version of the MAven plugin should I be using for the same?

I installed Maven plugin V2.4.0, but it does not seem to work as the EAR is not getting generated properly for the BW application using the same.

Please let me know ASAP.

[2019-12-06 17:03] giovannibrescia opened #390 "Warning on activity IDs in businessworks 6.5.1 with git and maven plugin"
Dear Support,

We have a problem with all our BW6 application importing shared modules.
When we import them into the workspace we have warnings in all the activities of the shared modules concerning recovery or recreation of activity Ids.
The applications were previously mavenized.
The suggested "quick fix" resolves the issue but when I have to re-import the project again I still have the same war

[2019-12-09 05:04] SujataDarekar commented on #389
@deepatailor  Please use the Maven Plugin 2.3.1

[2019-12-09 05:08] SujataDarekar commented on #387
@transferobject  .m2 repository should not be empty. When you install BW maven plugin, it installs the shared plugin at m2 home. Please make sure you are checking the correct m2 home

[2019-12-09 05:12] SujataDarekar commented on #377
@Hohenheim-of-Light We don't see the issue with Maven plugin or unit testing testing framework. The issue is not reproducible at our end as well.

[2019-12-09 05:12] #377 closed

[2019-12-09 05:22] deepatailor commented on #389
I have already installed lugon version 2.3.1 but getting same issue with it as well.

Sent from my iPhone

[2019-12-09 05:29] SujataDarekar commented on #389
@deepatailor Can you explain issue?

[2019-12-09 15:56] deepatailor commented on #389
Hi Sujata,

I uninstalled maven plugin 2.4.0 and installed 2.3.1, after that when I am trying to build the Ear, the size of the EAR is still much less compared to the size when I build it manually.

When I try to deploy the ear built using the plugin, I get errors ( mainly bcos the built EAR does not seem to be correct)

Is it possible for us to do a zoom session to look into this issue ? I am in

[2019-12-10 16:49] transferobject commented on #387
i am checking the correct m2 home

i have apache-maven at this location

C:\Users\111111\apache-maven-3.5.3\conf

setting.xml file has the following which is pointing to this location

<localRepository>C:\Users\111111\apache-maven-3.5.3\repo</localRepository>

I noticed that BW maven plugin install here

C:\Users\111111\apache-maven-3.5.3\repo\com\tibco\plugins

11/29/2019  10:05 AM    <DIR>

[2019-12-11 04:12] SujataDarekar commented on #387
@transferobject As mentioned, The maven plugin get installed at location "C:\Users\111111\apache-maven-3.5.3\repo" because in the settings.xml you have mentioned the local repository path as apache-maven path which is incorrect.  So please change the value of  <localRepository> in settings.xml and install the bw maven plugin. The correct value should be <localRepository>${user.home}/.m2/repository

[2019-12-11 04:14] SujataDarekar commented on #389
@deepatailor Can you please share the EAR generated using maven plugin and EAR generated using studio. Let me check the difference . After that may be we can have a call

[2019-12-11 04:40] deepatailor commented on #389
Hi Sujata,

I have attached both files in the zip here.

Ear with v1.21.0 is created manually and v1.27.0 is created using maven plugin.

[crm.merge.application.zip](https://github.com/TIBCOSoftware/bw6-plugin-maven/files/3948461/crm.merge.application.zip)

[2019-12-12 10:52] MartHustwick commented on #390
I'm experiencing this exact same issue, even when you fix them and check the code into your repo Maven seems to re-generate the issue.

It's also a pain as the Debugger doesn't function correctly, I imagine it requires the activity IDs to function. This can be fixed, as you've mentioned, with the 'quick fix' but it seems to be a 50/50 chance wherever it is going to actually work.

[2019-12-12 11:41] SujataDarekar commented on #389
@deepatailor Thanks for sharing the JAR files.  I have checked both JAR files and I see only one difference is that the EAR generated using Studio has resources folder which has diagrams. If you want to include that resources folder while generating EAR through maven please follow the wiki page https://github.com/TIBCOSoftware/bw6-plugin-maven/wiki/Steps-to-add-Process-Diagram-in-EAR

[2019-12-12 11:52] SujataDarekar opened #391 "Provide relative path for the mock file locations"
In Activity mocking,Currently we don't have support to provide relative path for mock files. This enhancement is created to provide support for relative path for mock files

[2019-12-12 12:04] SujataDarekar commented on #391
With this enhancement user can put there mock file in "Test" folder of project itself. So that it can be shared across the machines with projects

[2019-12-12 12:20] j-ajendra opened #393 "Version Property not Set"
Maven Plugin version:2.4.0

Maven version:

Product : Either of TIBCO ActiveMatrix Businessworks 6 OR TIBCO Businessworks Container edition

Product version: 6.6

Component: Maven build plugin

**Steps to reproduce the issue:**
1. Provide version property in configFile for deploy goal
2. Enable externalProfile along with location in configFile.

**Observation:**
setProfile method in RemoteDeployer

[2019-12-16 15:48] anoop-reddy opened #394 "Question - mvn dependency, external profile"
Hello,
1. does this enhancement really allow an externalized profile? If so can you point me to the documentation on how to pass the profile as an argument.
https://github.com/TIBCOSoftware/bw6-plugin-maven/issues/34

2. I was able to add a shared library (collection of schemas) as a maven dependency to the .module of my application. But I am unable to access the xsd resources once it resolves the

[2019-12-18 12:09] GitGameGit opened #395 "Error while running BWunit Test feature in BW6.4.2"
**Unable to resolve below error while running into BW6.4 studio:**

[INFO] Scanning for projects...
[INFO] Starting Maven Build for BW6 Project.................................
[INFO] Checking for In-Project JAR dependencies if any and Pushing them to Local Maven Repository
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Build Order:
[INFO]
[INFO] BWU

[2019-12-18 21:26] rsunkavalli commented on #184
Hi,
I am facing the same issue with BW 6.4.2 and Maven plugin 1.3.1.
The POM for com.tibco.plugins:com.tibco.bw.palette.shared:jar:6.1.100 is missing, no dependency information available
Failed to execute goal on project Application.app.module: Could not resolve dependencies for project com.tibco.bw:Application.app.module:bwmodule:1.0.0-SNAPSHOT: Could not find artifact com.tibco.plugins:com.tibco

[2019-12-18 21:40] rsunkavalli opened #396 "The POM for com.tibco.plugins:com.tibco.bw.palette.shared:jar:6.1.100 is missing, no dependency information available"
Hi,
I am facing "The POM for com.tibco.plugins:com.tibco.bw.palette.shared:jar:6.1.100 is missing, no dependency information available" issue while trying to build the application through BuildMaster. I am using BW 6.4.2 and Maven plugin 1.3.1.
Below is the execution log from BuildMaster:

[INFO] ------------------< com.tibco.bw:Addition.app.module >------------------
[INFO] Building Addition.app.

[2019-12-19 05:22] SujataDarekar commented on #396
@rsunkavalli com.tibco.bw.palette.shared-6.1.100.jar get installed under com.tibco.bw.palette.shared in local .m2 repo which is correct location. As per the logs we can see the maven look for the dependency in central repository rather than local repository where the shared dependency is present. Can you check which .m2 repo is referring when you execute the goal via build master. Build master sho

[2019-12-19 05:37] SujataDarekar commented on #395
@GitGameGit Unit Test Feature is available from BW-Maven Plugin 2.0.0  and BW 6.5.0. Please check https://github.com/TIBCOSoftware/bw6-plugin-maven/releases/tag/v2.0.0.

[2019-12-19 05:37] #395 closed

[2019-12-19 14:59] scottygar commented on #371
Also having this issue - Did you manage to fix it?

The only way around that I can see is to add the version in the child POM, but then the ear file that's created includes multiple jars of the same dependency and is huge.

[2019-12-19 18:33] transferobject opened #397 "unable to install TIBCO maven plugin 2.3.1 on Red Hat Linux 7.0 server"
Maven Plugin version: 2.3.1

Maven version:

./mvn -version
Apache Maven 3.0.5 (r01de14724cdef164cd33c7c8c2fe155faf9602da; 2013-02-19 13:51:28+0000)
Maven home: /opt/fdx/FDXmaven
Java version: 1.7.0_221, vendor: Oracle Corporation
Java home: /usr/lib/jvm/java-1.7.0-openjdk-1.7.0.221-2.6.18.0.el7_6.x86_64/jre
Default locale: en_US, platform encoding: UTF-8
OS name: "linux", version: "3.10.0-957.21.

[2019-12-20 22:13] rsunkavalli commented on #396
@SujataDarekar settings.xml has local repository set to "Default: ${user.home}/.m2/repository"
I updated it to "BW_HOME\maven\plugins\bw6-maven-plugin" and executed the goal again. It created a bunch of subdirectories and the jar files with .lastupdated under \plugins\com.tibco.bw.palette.shared\6.1.100 folder and build failed with jars missing exception. I renamed the jar and pom files and execut

[2019-12-23 03:49] SujataDarekar commented on #396
@rsunkavalli  settings.xml should refer the .m2 local repo which is correct in your case. There is no need to changes it to "BW_HOME\maven\plugins\bw6-maven-plugin" .
1. Are you running the build master from the same machine where your .m2 repository present?
    --->If yes then does the m2 repo present the shared jar with .updated?
             -->If yes then remove the shared JAR and re-installe

[2019-12-23 07:31] #391 closed

[2019-12-23 17:28] rsunkavalli commented on #396
@SujataDarekar BuildMaster and Maven are not running on the same server. Buildmaster TCP's to the other server which has Maven and executes the build script. The "user_home\.m2" repo has the "com.tibco.bw.palette.shared-6.1.100.jar" file with the correct name.
![image](https://user-images.githubusercontent.com/59032803/71371553-288ebb00-2577-11ea-96a7-e5f8348df584.png)

[2019-12-24 13:09] SujataDarekar commented on #396
@rsunkavalli  The machine from where you run the BuildMaster should have BW maven plugin installed to the .m2 repository of the same machine.

[2019-12-25 16:09] GitGameGit opened #398 "BW6 Unit Test running Issue"
Hi Team,
 Below are configuration and setup details:
BW6 version BW6.5.0
Maven : apache-maven-3.5.2
Maven Plugin :  TIB_BW_Maven_Plugin_2.4.0 and bw6-plugin-maven-2.4.0

I have created one sample sub process  for subtraction . Using maven configuration able to run. Getting console logs like below:
===========================================================
[INFO] Scanning for projects...
[INFO] St

[2019-12-26 12:56] anouarattn commented on #371
the

I finally did the following thing
 add a property in the parent pom

`	<properties>
		<com.tibco.bw.palette.shared.version>6.1.100</com.tibco.bw.palette.shared.version>
	</properties>`

and referencing it in child pom like this

`			<dependency>
			<groupId>com.tibco.plugins</groupId>
			<artifactId>com.tibco.bw.palette.shared</artifactId>
			<version>${com.tibco.bw.palette.shared.version}</v

[2019-12-31 15:33] scottygar commented on #371
Thanks for the reply - I've also implemented the above, but the IDE doesn't try to find the dependencies when it loads (Unless I hard-code the version numbers in the child POM).

Is the behaviour the same with your project?

[2020-01-02 02:08] anouarattn commented on #371
no, referencing parent property work with no problem

[2020-01-02 18:03] transferobject commented on #397
Hi, can someone pls atleast help me to understand why its going to this location looking for tools.jar and how can i change it?

sudo -u tibco ./install.sh
Starting Plugin Code for Apache Maven and TIBCO BusinessWorks™ installation ....
Unable to locate tools.jar. Expected to find it in /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.212.b04-0.el7_6.x86_64/lib/tools.jar

[2020-01-03 05:56] SujataDarekar commented on #397
@transferobject Can you try with Java 8. Also let me know if you are installing the maven plugin first time on the machine? because for the first time plugin requires some plugin to download from .m2 central repository if it is not present in .m2 local repository.

[2020-01-06 10:23] SujataDarekar commented on #398
@GitGameGit  I have checked your details. As per the logs the success and failure count is 0 because there are some configuration error in attached project. With BW 6.5.0 version for the incorrect expression we are not throwing any exception and it's a defect which we have fixed in BW 6.6.0 HF-01 version.
In Project,
I found below observations:
1. For mapper activity, you have not mapped the value

[2020-01-07 15:28] bankarswapnil opened #399 "Enhancement Request Summary : Externalizing profile, 'other' option given in POM wizard, does not work if property file (profile) is referenced using relative path. We are using Jenkins job to build EAR file using BW6 Application code & Profile property file (DEV/QA/PROD etc) residing in separate folders in Git Repo and eventually another jenkins job to deploy the built EAR to runtime (TEA)."
My setup[Windows10_64bit+BW650+TEA230+EMS851+TIB_BW_Maven_Plugin_240]

**Steps to reproduce the issue:**
Main Issues :
1. If Application has Application level properties set, Build fails
---->Workaound : delete the app level property settings and retry.
2. Relative profile path does not work, ex. <externalProfileLoc>../QA.substvar</externalProfileLoc>
Subsequent couple of issues I have observed,
1

[2020-01-08 09:43] swapnilbankar commented on #399
Hello Sujata,
If possible can we have a quick call. We have to showcase demo to client before this week ends.
Let me know your suitable time.
Thanx,
-Swapnil

[2020-01-09 01:23] whitesource-for-github-com[bot] opened #400 "CVE-2019-17571 (High) detected in log4j-1.2.12.jar - autoclosed"
## CVE-2019-17571 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>log4j-1.2.12.jar</b></p></summary>

<p></p>
<p>Path to dependency file: /Source/bw6-maven-plugin/pom.xml</p>
<p>Path to vulnerable library: /home/wss-scanner/.m2/repository/log4j/log4j/1.2.12/log4j-1

[2020-01-11 13:35] GitGameGit commented on #398
Thank you very much Sujata!
I will check and will update you.
One more thing regarding BW-Release-Compatibility-Guide :
https://github.com/TIBCOSoftware/bw6-plugin-maven/wiki/BW-Release-Compatibility-Guide
So higher version of "Maven Plugin Version" is compatible with lower
version of BW6 ?
For  example : v 2.4.0 should be good for  BW 6.5.0 , BWCE 2.4.4
Appreciate your feedback on this.

Thanks a

[2020-01-13 05:43] SujataDarekar commented on #398
@GitGameGit I would recommend to use BW maven plugin with BW version as per the https://github.com/TIBCOSoftware/bw6-plugin-maven/wiki/BW-Release-Compatibility-Guide.
Because there are some feature which are added in specific BW version and corresponding Maven version So you will get error while running the test goal for the same.

[2020-01-13 05:54] SujataDarekar commented on #399
@bankarswapnil  Please find my below comments:
1. If Application has Application level properties set, Build fails
  --> Could you please share the detailed steps to reproduce this issue. It will really help to reproduce issue in our environment

2. Relative profile path does not work, ex. ../QA.substvar
  --> We do not support the relative path option

3. Although am deleting application from TEA

[2020-01-13 10:02] swapnilbankar commented on #399
Thank you Sujata for reply.
Please find my comments inline…

Thanx,
-Swapnil

Planned absence
None

From: Sujata <notifications@github.com>
Sent: 13 January 2020 05:55
To: TIBCOSoftware/bw6-plugin-maven
Cc: Bankar, Swapnil; Comment
Subject: Re: [TIBCOSoftware/bw6-plugin-maven] Externalizing profile, 'other' option given in POM wizard, does not work completely. (#399)

@bankarswapnil<https://github

[2020-01-13 10:08] GitGameGit commented on #398
Thank you very much Sujata for your response!!
One more question :  "Could it possible we can use this BW6 UnitTest
feature with Jenkins Pipeline for one round of automated unit test " If yes
could it possible for you to share any  reference slides for the same".

I appreciate your return on this.

Thanks and Regards,
GitGameGit

On Mon, Jan 13, 2020 at 11:13 AM Sujata <notifications@github.com> w

[2020-01-14 21:08] rsunkavalli commented on #396
The jar file name has ".lastUpdated" in the admin user_home\.m2 on the server. We renamed it and the build is working without any issues.

[2020-01-15 09:52] swapnilbankar commented on #399
Hello Sujata,
By any chance, you are able to find the way we can use Jenkins job to build EAR file using BW6 Application code & Profile property file residing in separate folders in Git Repo and Deploy the EAR to TEA ?
This is the only part blocking in our BW6 CICD pipeline framework using BW6 Maven plugin.
Help on this front is highly appreciated.
Thanx,
-Swapnil

[2020-01-15 12:04] SujataDarekar commented on #399
@bankarswapnil Currently we only absolute path support for external profile where external profile should be present on the same machine. Now For jenkins, we will required  code changes where the external profile will be downloaded from mentioned URL.

[2020-01-21 09:54] SujataDarekar opened #402 "To provide relative path support for Gold Input File field while running the activity assertion"
This enhancement is created  to support for Gold Input File field while running the activity assertion

[2020-01-21 09:56] SujataDarekar commented on #402
When user add activity assertion with "Gold Input From File" then user need to provide gold input file path. With this enhancement user will able to provide the relative path as well where user will put the gold input file in Test folder and will provide the path as "\Test\abc.xml". For more details please refer https://github.com/TIBCOSoftware/bw6-plugin-maven/wiki/Running-Asssertions-Using-Activ

[2020-01-21 09:56] #402 closed

[2020-01-21 14:34] swapnilbankar commented on #399
Hi Sujata,
Does that mean, you have created a enhancement request to support for external profile where external profile can reside on different folder of git repo and path can have either link or relative path of profile?
If that is the case, can you share the time lines by when we can have this feature implemented ?

Meanwhile, if you know any workarounds (possibly from existing clients who are

[2020-01-22 15:03] rsunkavalli opened #404 "How to generate POM for external shared modules?"
Hi

I have an application that uses an external shared module. When I import the external shared module and try to generate POM for the application, the external shared module is not getting listed as shared module. How can we generate POM for an application which uses external shared modules?

![image](https://user-images.githubusercontent.com/59032803/72905322-ff885400-3cf5-11ea-8d54-836dbc10b19

[2020-01-23 08:45] SujataDarekar commented on #399
@swapnilbankar You can create the new enhancemnt with your requirement So that I will plan it accordingly.

[2020-01-23 09:20] swapnilbankar commented on #399
Hi Sujata,
Can you transform this issue into Enhancement (or assign label as Enhancement) ? I could not find option for creating Enhancement though.

Thanx,
-Swapnil

[2020-01-27 17:07] rsunkavalli commented on #404
Can someone please help on this?

[2020-01-28 04:57] SujataDarekar commented on #404
@rsunkavalli  Which version of BW maven Plugin are you using?

[2020-01-28 05:03] SujataDarekar commented on #404
@rsunkavalli  Also Does it show in dependencies(required plugin) of module project ?

[2020-01-28 05:15] rsunkavalli commented on #404
@SujataDarekar We are using Maven plugin 1.3.1. And yeah the shared module is shown in the application module dependencies.

[2020-01-28 05:29] SujataDarekar commented on #404
@rsunkavalli I would suggest use the the latest BW Maven Plugin and then try your use case.

[2020-01-28 05:30] rsunkavalli commented on #404
@SujataDarekar, will it be compatible with BW 6.4.2?

[2020-01-28 05:32] SujataDarekar commented on #404
@rsunkavalli  looking at your use case yes it is

[2020-01-28 18:53] rsunkavalli commented on #404
@SujataDarekar , I have installed the latest BW Maven Plugin. I have imported the external shared modules to the workspace and tried to generate the POM file. Still the shared modules are not listed.

![image](https://user-images.githubusercontent.com/59032803/73295194-de7ba380-41cc-11ea-99d1-802c43bfab40.png)

[2020-01-29 04:40] SujataDarekar commented on #404
@rsunkavalli Can you share the project?

[2020-01-29 04:54] rsunkavalli commented on #404
@SujataDarekar Attached the application and shared modules. Please let me know if you need more details.
[VendorHub.zip](https://github.com/TIBCOSoftware/bw6-plugin-maven/files/4126205/VendorHub.zip)
[SharedModules.zip](https://github.com/TIBCOSoftware/bw6-plugin-maven/files/4126211/SharedModules.zip)

[2020-01-30 09:11] SujataDarekar commented on #404
@rsunkavalli  I have checked your project. I am facing some namespace related issues in module project. So I have just created one simple project and added the shared module attached with the issue. I can see the list of all shared module while generating the POM. Even in screenshot shared by you I can see the scroll down option. Please check the same

[2020-01-30 14:33] rsunkavalli commented on #404
@SujataDarekar, I checked the scroll down and shared modules are not listed. Wanted to check if we are on the same page, did you import the shared module zipped folders by following: Window > Preferences > Plug-in Development > Target Platform > bw-runtime (Active) > Edit > Locations > Add > BW Shared Module? Or you imported using the Import option?
Namespace issues persist if the shared modules a

[2020-01-31 09:11] goutham-muragavel opened #406 "Error on installation of BW6maven plugin in Windows machine"
@sonalshingavi
Hi Team,

Please find the below details of error:
Tibco BW Version:6.4.2
Azure Server :10.164.70.172
Maven Versions Tried: TIB_BW_Maven_Plugin_1.3.0, TIB_BW_Maven_Plugin_2.0.1, TIB_BW_Maven_Plugin_2.3.0, TIB_BW_Maven_Plugin_2.5.0.
Error Message : MESSAGE An error occurred while automatically activating bundle org.eclipse.ui.workbench (907).
[Maven Errors.zip](https://github.com/TIBC

[2020-01-31 18:43] adamholtmart opened #407 "bw6.4.2 shared plugin and maven"
Maven Plugin version: 1.3.1

Maven version: 3.6.3

Product : Either of TIBCO ActiveMatrix Businessworks 6 OR TIBCO Businessworks Container edition
TIBCO BUSINESSWORKS 6.4.2
Product version:

Component: Either of Maven Eclipse Plugin or Maven build plugin
Maven Eclipse Plugin

**Steps to reproduce the issue:**
1.  I define the StringEditor shared plugin in the application pom
2.  I run the maven bu

[2020-02-03 10:19] SujataDarekar commented on #407
@adamholtmart After adding the java plugin dependency,  does the plugin get added in generated EAR file? Like Shared module it will not get imported in studio workspace but it should get added in the EAR file.

[2020-02-03 14:44] rsunkavalli commented on #404
@SujataDarekar did you get a chance to look into this?

[2020-02-05 02:14] sonuschinnatech opened #408 "Jenkin build job failing - BW 6.4.2 & Maven 1.3.1"
Jenkin build job failing with 1st run - BW 6.4.2 & Maven 1.3.1.

**Jenkin Build Error logs,**
Failed to transfer Could not transfer artifact com.tibco.bw:SampleBW6app.application.parent:pom:1.0.0 from/to central (https://repo.maven.apache.org/maven2): /home/esbuser/.m2/repository/com/tibco/bw/SampleBW6app.application.parent/1.0.0/SampleBW6app.application.parent-1.0.0.pom.part.lock (Permission deni

[2020-02-07 20:55] sree-sandeep opened #409 "TIBCO BWCE with Maven Plugin Integration Problem"
I am using TIBCO BWCE 2.5.0, and installed TIBCO BW Maven Plugin 2.5.0 in order to integrate TIBCO BWCE with Maven. After installation of Maven plugin, I am not able get the context menu like "Generate POM for Application, after right clicking on the TIBCO Business Studio Project.

Please suggest me, is there any other way to Generate POM for TIBCO BWCE Application in order to create Docker image

[2020-02-10 01:01] mend-for-github-com[bot] opened #410 "CVE-2017-18640 (High) detected in snakeyaml-1.21.jar"
## CVE-2017-18640 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>snakeyaml-1.21.jar</b></p></summary>

<p>YAML 1.1 parser and emitter for Java</p>
<p>Library home page: <a href="http://www.snakeyaml.org">http://www.snakeyaml.org</a></p>
<p>Path to dependency file:

[2020-02-15 21:16] diptimoha commented on #396
Hi ,
I am facing a similar issue when trying to do a maven build in AWS code pipeline, is there any steps that needs to be done before maven packaging  the bwce code in AWS code pipeline.

[WARNING] The POM for com.tibco.plugins:com.tibco.bw.palette.shared:jar:6.1.100 is missing, no dependency information available

My steps -
1. mavenise the tibco bwce project.
2. generate process diagrams.
3. ge

[2020-02-18 11:11] goutham-muragavel commented on #406
@awagle ,
can you please check on this.

[2020-02-18 14:49] rsunkavalli commented on #396
@diptimoha Can you please check if the jar file is present in user_home/.m2 repository?
It will be under .m2\repository\com\tibco\plugins\com.tibco.bw.palette.shared\6.1.100 directory. If the file name has .lastUpdated appended, remove it and try again.

[2020-02-18 17:37] dtredinnick13 commented on #409
I am having the exact same issue.  I am running Studio on Windows.  I tried creating a new workspace and project just to see if maybe it would not work with a workspace and project that was created prior to installation of the the plug-in.

If I look in my TIBCO Home, I see the plug-in is installed in the BWCE/2.5 directory.

![BWCE Directory Screenshot](https://user-images.githubusercontent.com/1

[2020-02-19 08:19] sree-sandeep commented on #409
Thanks Don. I have created new TIBCO_HOME for TIBCO BWCE 2.5.1 and installed TIB_BW_Maven_Plugin_2.5.0. Now I can able to see Generate POM for Application. Below the installation console of Maven Plugin. There are few errors. But finally build was successful.
####################################################################
D:\BWCE_Soft\TIB_BW_Maven_Plugin_2.5.0>install.bat

D:\BWCE_Soft\TIB_BW

[2020-02-19 08:20] #409 closed

[2020-02-19 08:34] SujataDarekar commented on #408
@sonuschinnatech Can you share the project  ans goals you are using?

[2020-02-19 11:27] swapnilbankar commented on #399
Hi Sujata,

Did you transfer the issue into enhancement ? or let me know how to create it ?
This requirement is very crucial for many customers and we are stuck on this.
Your help will be highly appreciated.

Thanx,
-Swapnil

[2020-02-19 11:33] SujataDarekar commented on #399
@bankarswapnil I have marked this issue as enhancement. Please just change the issue title with requirement summary

[2020-02-19 12:49] bankarswapnil commented on #399
Hi Sujata,
I tried to abstract an Enhancement Summary as much as possible.
Hope you have my all webex shared on this to reproduce the issue (https://github.com/TIBCOSoftware/bw6-plugin-maven/files/4031216/CICD_Ext_Profile_Failed_3.zip)

Looking forward to have this feature as early as possible.
Thank you for all support.

-Swapnil

[2020-02-23 20:22] singhr6 commented on #396
I had same issue, I updated the settings.xml enable <localRepository>${user.home}/.m2/repository</localRepository>

and last removed the .lastupdated extension from the jars under m2\repository\com\tibco\plugins\com.tibco.bw.palette.shared\6.1.100

[2020-02-24 01:17] diptimoha commented on #396
@rsunkavalli  i just checked
.m2\repository\com\tibco\plugins\com.tibco.bw.palette.shared\6.1.100  ,
the jar file does not have .lastUpdated appended.  by the way , when maven packaging is done in my local laptop works fine , there is no issue with that. but when i push the bwce code to git and then create a pipeline in AWS code pipeline , it encounters this issue and also there is no way to look

[2020-02-25 12:08] IMurzich opened #412 "Imported Shared Module error - "Project build error: Non-readable POM""
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

Maven Plugin version: 2.3.1

Maven version: Apache Maven 3.6.0 (97c98ec64a1fdfee7767ce5ffb20918da4f719f3; 2018-10-24T21:41:47+03:00)
Java version: 1.8.0_222, vendor: AdoptOpenJDK, runtime: D:\java\jdk-8.0.222.10-hotspot\jre
Default locale: en_US, platform encoding: Cp1252

[2020-02-26 16:38] deepatailor opened #413 "Error while generating EAR from Azure DevOps pipeline using the pom.xml generated using bw maven plugin"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE REQUEST
-->
Maven Plugin version: 2.3.1

Maven version: 3.6.1

Product : TIBCO ActiveMatrix Businessworks

Product version: BW 6.5, Hot

[2020-03-03 15:21] damienRiv opened #414 "Problem during the deployment"
Maven Plugin version: 2.5 & 2.4

Maven version: 3.6

Product : ActiveMatrix Businessworks 6.6

Product version: 6.6.0

Component: Maven build plugin

**Steps to reproduce the issue:**
1. Execute this command "mvn com.tibco.plugins:bw6-maven-plugin:bwinstall"
2.
3.

**Additional environment details if any:**
i execute the installation on Linux server.

**Describe the results you received:**

[INFO]

[2020-03-03 16:19] krishsaha2020 commented on #349
I am facing the same issue can you please suggest how to resolve it. I have added the dependency to module pom. The shared module jar file gets downloaded from NEXUS and also is available under Maven Dependencies. But the shared module does not gets downloaded into the studio.

[2020-03-03 16:48] R-Lamberson commented on #349
@krishsaha2020 I found that I had to be very explicit in the BW Shared Module to set the Packaged version to the following pattern {major}.{minor}.{instance}-SNAPSHOT (eg 1.0.0-SNAPSHOT).  Also in some instances I had to use the Studio option for Maven - Force Update to get the local maven repo

[2020-03-05 05:46] SujataDarekar commented on #414
@damienRiv  I am working on this issue.In this scenario although you are getting errors in logs , deployment is getting successful no?

[2020-03-05 08:15] damienRiv commented on #414
Hi, Yes the deployment is successful but my profile is not set.

[2020-03-06 09:29] krishsaha2020 commented on #349
The import of the Shared Module Project  (reference) works once we import the actual shared module project into studio and build it once again. Then the project referring it is able to import it. So there is some problem in the Tibco Business Studio which is not allowing the retrieval of the shared module project into Studio after its downloaded to m2 from the Nexus Jar.

[2020-03-06 09:35] krishsaha2020 commented on #349
@SujataDarekar , Any idea if there is any option to directly get the Shared Module Project directly into Studio from NEXUS ?

[2020-03-09 05:26] SujataDarekar commented on #379
The changes has been done and will be available with BWCE 2.5.2 and BW_Maven-Plugin 2.6.0

[2020-03-09 05:26] #379 closed

[2020-03-09 05:43] SujataDarekar commented on #414
The issue has been fixed and will be available with Maven Plugin 2.6.0

[2020-03-09 05:44] #414 closed

[2020-03-09 08:21] SujataDarekar opened #417 "Code coverage report should show covered activity name"
Currently BW Coverage report shows the covered activity count and activity percentage. This enhancement is created to show the covered activity name as well in coverage report

[2020-03-09 09:42] damienRiv commented on #414
Hi,

Thank you for the quick solution. Can you tell me when the maven plugin 2.6.0 will be available?

[2020-03-09 11:58] SujataDarekar commented on #414
@damienRiv Probably it will available By End of this week

[2020-03-12 05:59] #417 closed

[2020-03-12 07:50] SujataDarekar opened #419 "In case of test failure, show the provided input and expected output in the logs and reports"
This enhancement is created to show the provided input and expected output in the reports and logs  in case of test failure.

[2020-03-12 08:07] SujataDarekar commented on #419
ow with this enhancement user will able to see the Failure details in the bwtestreport.html and test goal logs. Since this details is property based, user need to pass -DshowFailureDetails=true while running the site and test goal.